Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ty:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

markdown:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Adding initial upgrade task
  .gitignore
  docs/data-model.md
  pyproject.toml
  src/lantern/models/record/record.py
  tasks/_record_utils.py
  tasks/keys_check.py
  tasks/records_upgrade_2026_02.py
Due: pytest, ty, ruff, markdown, build

Updating records upgrade task
  CHANGELOG.md
  pyproject.toml
  tasks/records_upgrade_2026_02.py
Due: pytest, ty, ruff, build

Adding Esri item services dev task
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  tasks/record_esri.py
Due: pytest, ty, ruff, markdown, build

Improving dev tasks
  tasks/_record_utils.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/records_workflow.py
  tasks/records_zap.py
Due: ty, ruff, build

Improving supported data access options test record
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, build

Fixing OpenAPI definition
  src/lantern/resources/templates/_assets/json/openapi.json.j2
Due: none

Adding trusted items to OpenAPI definition
  src/lantern/resources/templates/_assets/json/openapi.json.j2
Due: none

Updating documentation
  CHANGELOG.md
  docs/data-model.md
  docs/dev.md
  docs/infrastructure.md
  docs/usage.md
Due: markdown

Upgrading metadata library to stable release
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating release task
  CHANGELOG.md
  tasks/release.py
Due: ty, ruff, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Upstreaming utils from dev tasks for updating element collections
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/elements/data_quality.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_data_quality.py
  tests/lib_tests/metadata_library/models/record/presets/test_conformance.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/stores/gitlab_cache/cache.db
Due: pytest, ty, ruff, build

Updating base MAGIC record preset
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/record.py
Due: pytest, ty, ruff, build

Adding MAGIC open access record preset
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/models/record/record.py
  src/lantern/models/record/revision.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
Due: pytest, ty, ruff, build

Improving dev tasks
  tasks/_record_utils.py
  tasks/records_upgrade_2026_02.py
  tasks/records_zap.py
Due: ty, ruff, build

Improving test records
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_collection_open_min.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_formatting.py
  tests/resources/records/item_cat_initiative_all.py
  tests/resources/records/item_cat_initiative_open_min.py
  tests/resources/records/item_cat_licence.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_map.py
  tests/resources/records/item_cat_product_min.py
  tests/resources/records/item_cat_product_open_min.py
  tests/resources/records/item_cat_product_replaced.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/item_cat_product_web_map.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/item_cat_verify.py
  tests/resources/records/utils.py
Due: pytest, ty, ruff, build

Improving release steps
  .gitlab/issue_templates/release.md
  CHANGELOG.md
Due: none

Fixing test catalogue triggering pytest warning
  pyproject.toml
  tests/scripts/build_fake_cat.py
Due: pytest, ty, ruff, build

Tidying up
  CHANGELOG.md
Due: none

Fixing admin metadata inconsistency in related items
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/special/physical_map.py
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_common.py
Due: pytest, ty, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock
