Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ty:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

markdown:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Minor task improvement
  tasks/record_supersede.py
Due: ty, ruff, build

Small improvements and documentation update
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/deployment.md
  docs/dev.md
  docs/infrastructure.md
  docs/libraries.md
  docs/models.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  src/lantern/resources/templates/_assets/js/search.js.j2
Due: pytest, markdown, build

Refactoring admin access permissions handling
  CHANGELOG.md
  docs/dev.md
  docs/models.md
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/lib/metadata_library/models/record/utils/admin.py
  src/lantern/models/item/arcgis/item.py
  src/lantern/models/item/base/enums.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/item/website/search.py
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tasks/record_permissions.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/utils/test_admin.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_product_restricted_bas_staff.py
  tests/resources/records/item_cat_product_restricted_custom.py
  tests/resources/records/utils.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, markdown, build

Fixing CSS build
  .gitlab-ci.yml
  docs/models.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_macros/item.html.j2
  tasks/css.py
  tasks/serve.py
Due: pytest, ty, ruff, markdown, build

Moving Terraform config to MAGIC Terraform project
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  docs/infrastructure.md
  resources/infra/.terraform.lock.hcl
  resources/infra/main.tf
  resources/infra/terraform.tfvars.tpl
Due: markdown

Adding initial workflow for publishing Rothera station orthomosaics
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  docs/supplemental/rothera-orthomoasics-publishing.md
  docs/usage.md
  pyproject.toml
  src/lantern/lib/magic_distribution/formats.py
  src/lantern/lib/magic_distribution/models/artefact.py
  src/lantern/lib/metadata_library/models/record/presets/contacts.py
  src/lantern/lib/metadata_library/models/record/presets/extents.py
  tasks/_shared.py
  tasks/artefacts_check.py
  tasks/artefacts_deposit.py
  tasks/data_workflow_rothera_orthos.py
  tasks/record_supersede.py
  tasks/records_import.py
  tasks/records_zap.py
  tasks/release.py
  tasks/thumbnail_invalidate.py
  tests/lib_tests/magic_distribution/models/test_artefacts.py
  tests/lib_tests/magic_distribution/test_client.py
  tests/lib_tests/magic_distribution/test_formats.py
  tests/lib_tests/metadata_library/models/record/presets/test_contacts.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Adding record validation to zap records
  CHANGELOG.md
  tasks/artefacts_deposit.py
  tasks/css.py
  tasks/records_preview.py
  tasks/records_zap.py
  tasks/thumbnail_invalidate.py
Due: ty, ruff, build

Small improvements
  CHANGELOG.md
  docs/contrib.md
  docs/supplemental/non-interactive-publishing.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  src/lantern/contrib/post_deployment_updates.py
  tasks/_shared.py
  tasks/record_permissions.py
  tests/contrib_tests/test_deployment_updates.py
Due: pytest, ty, ruff, markdown, build

Switching to Prek for pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  prek.toml
  pyproject.toml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_entrypoint.yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_run[no-webhook].yaml
Due: pytest, markdown, build

Align validation behaviour
  src/lantern/lib/magic_distribution/models/artefact.py
  tasks/artefacts_deposit.py
  tasks/data_workflow_rothera_orthos.py
  tests/lib_tests/magic_distribution/models/test_artefacts.py
Due: pytest, ty, ruff, build

Remove CDE distribution type
  CHANGELOG.md
  docs/libraries.md
  docs/models.md
  src/lantern/lib/magic_distribution/formats.py
  src/lantern/models/checks.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, markdown, build

Fix checks to work with MAGIC Resource SP site
  docs/dev.md
  docs/models.md
  pyproject.toml
  src/lantern/checks.py
  src/lantern/models/checks.py
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_error.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_not_file.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_wrong_size.yaml
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/test_checks.py
  tests/resources/records/item_cat_checks.py
Due: pytest, ty, ruff, markdown, build

Adding thumbnail creation and upload task
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  pyproject.toml
  tasks/thumbnail_upload.py
Due: pytest, ty, ruff, markdown, build

Updating dev tasks
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  tasks/data_workflow_rothera_orthos.py
  tasks/record_clone.py
  tasks/record_permissions.py
  tasks/record_supersede.py
  tasks/thumbnail_invalidate.py
Due: pytest, ty, ruff, markdown, build

Small improvements
  docs/supplemental/rothera-orthomoasics-publishing.md
  pyproject.toml
  src/lantern/checks.py
  src/lantern/lib/magic_distribution/formats.py
  src/lantern/models/checks.py
  tasks/records_zap.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/test_checks.py
Due: pytest, ty, ruff, markdown, build

Refactoring site content into site entries and content
  CHANGELOG.md
  docs/models.md
  docs/outputs.md
  src/lantern/catalogues/bas.py
  src/lantern/models/checks.py
  src/lantern/models/site.py
  src/lantern/outputs/base.py
  src/lantern/outputs/checks.py
  src/lantern/outputs/item_html.py
  src/lantern/outputs/items_bas_website.py
  src/lantern/outputs/record_iso.py
  src/lantern/outputs/records_waf.py
  src/lantern/outputs/redirects.py
  src/lantern/outputs/site_api.py
  src/lantern/outputs/site_health.py
  src/lantern/outputs/site_index.py
  src/lantern/outputs/site_pages.py
  src/lantern/outputs/site_resources.py
  tests/conftest.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/outputs/test_base_output.py
  tests/lantern_tests/outputs/test_checks.py
  tests/lantern_tests/outputs/test_item_html.py
  tests/lantern_tests/outputs/test_items_bas_website.py
  tests/lantern_tests/outputs/test_record_iso.py
  tests/lantern_tests/outputs/test_records_waf.py
  tests/lantern_tests/outputs/test_redirects.py
  tests/lantern_tests/outputs/test_site_api.py
  tests/lantern_tests/outputs/test_site_health.py
  tests/lantern_tests/outputs/test_site_index.py
  tests/lantern_tests/outputs/test_site_pages.py
  tests/lantern_tests/outputs/test_site_resources.py
  tests/lantern_tests/test_site.py
  tests/resources/outputs/fake_outputs.py
Due: pytest, ty, ruff, markdown, build

Initial deprecated records support
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/models/item/catalogue/elements.py
  tasks/record_deprecate.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_product_deprecated.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, markdown, build

Checking the contents of zipped artefact formats
  docs/libraries.md
  src/lantern/lib/magic_distribution/formats.py
  tests/lib_tests/magic_distribution/test_formats.py
  tests/resources/artefacts/_unsupported/invalid.gpkg.zip
  tests/resources/artefacts/_unsupported/invalid.shp.zip
Due: pytest, ty, ruff, markdown, build

Improvements
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/site.py
  tasks/record_supersede.py
  tasks/records_build.py
  tests/lib_tests/magic_distribution/test_formats.py
  tests/resources/records/item_cat_formatting.py
Due: pytest, ty, ruff, markdown, build

Refactoring GitLab cache store logic
  CHANGELOG.md
  src/lantern/stores/gitlab_cache.py
  tests/lantern_tests/stores/test_gitlab_cache.py
Due: pytest, ty, ruff, build

Adding initial checksums support
  CHANGELOG.md
  src/lantern/lib/magic_distribution/client.py
  src/lantern/lib/magic_distribution/models/artefact.py
  src/lantern/lib/magic_distribution/models/metadata.py
  src/lantern/models/item/catalogue/distributions.py
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_download_artefact.yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_get_drive_item[None-path-ok].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_get_drive_item[None-path-unknown].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_get_drive_item[https---x.sharepoint.com-sites-x-Main-x-file.ext-None].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_get_drive_item[https---x.sharepoint.com-sites-x-Main-x-unknown-None].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_get_metadata[artefact].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_set_metadata.yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_upload_artefact[existing].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_upload_artefact[new].yaml
  tests/lib_tests/magic_distribution/cassettes/test_client/TestMagicResourceDistributionClient.test_upload_artefact[updated].yaml
  tests/lib_tests/magic_distribution/models/test_artefacts.py
  tests/lib_tests/magic_distribution/test_client.py
Due: pytest, ty, ruff, build

Refactoring checks
  CHANGELOG.md
  docs/config.md
  docs/monitoring.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/catalogues/bas.py
  src/lantern/checks.py
  src/lantern/config.py
  src/lantern/models/checks.py
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_arc_api[CheckType.DOWNLOADS_ARCGIS_SERVICE-https---services.arcgis.com-x-arcgis-rest-services-x-FeatureServer-https---services.arcgis.com-x-arcgis-rest-services-x-FeatureServer-f=json].yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_arc_api[CheckType.DOWNLOADS_ARCGIS_SERVICE-https---utility.arcgis.com-usrsvcs-servers-x-rest-services-x-FeatureServer-https---utility.arcgis.com-usrsvcs-servers-x-rest-services-x-FeatureServer-f=json].yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_arc_api[CheckType.INFO_ARCGIS_LAYER-https---www.arcgis.com-home-item.html-id=123-https---www.arcgis.com-sharing-rest-content-items-123-f=json].yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_arc_api_error.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_error.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_not_file.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_resource_wrong_size.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_url[None].yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_url[https---example.com-alt.html].yaml
  tests/lantern_tests/cassettes/test_checks/TestChecker.test_get_auth_entra.yaml
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/test_checks.py
  tests/lantern_tests/test_config.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Using sample artefacts in downloads test record
  CHANGELOG.md
  tasks/serve.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, build

Improvements
  .gitignore
  docs/deployment.md
  docs/dev.md
  docs/libraries.md
  docs/models.md
  docs/monitoring.md
  docs/outputs.md
  resources/dev/.env.tpl
  src/lantern/config.py
  src/lantern/lib/magic_distribution/client.py
  tasks/records_build.py
  tasks/records_check.py
  tasks/serve.py
  tests/lib_tests/magic_distribution/test_client.py
Due: pytest, ty, ruff, markdown, build

Removing unused token bearer auth class for Requests
  CHANGELOG.md
  docs/libraries.md
  src/lantern/lib/requests/__init__.py
  src/lantern/lib/requests/auth.py
  tests/lib_tests/requests/__init__.py
  tests/lib_tests/requests/test_auth.py
Due: pytest, ty, ruff, markdown, build

Updating dependencies
  .gitlab-ci.yml
  AGENTS.md
  CHANGELOG.md
  docs/dev.md
  docs/models.md
  docs/monitoring.md
  prek.toml
  src/lantern/resources/js/lib/algolia.min.js
  src/lantern/resources/js/lib/scalar.min.js
  src/lantern/resources/js/lib/sentry.min.js
  uv.lock
Due: pytest, safety, markdown, build

Refactoring and small fixes/improvements
  CHANGELOG.md
  docs/architecture.md
  docs/stores.md
  pyproject.toml
  src/lantern/catalogues/bas.py
  src/lantern/catalogues/base.py
  src/lantern/config.py
  src/lantern/models/site.py
  src/lantern/stores/algolia.py
  src/lantern/stores/base.py
  tasks/artefacts_check.py
  tasks/artefacts_deposit.py
  tasks/css_audit.py
  tasks/data_workflow_rothera_orthos.py
  tasks/esri_item.py
  tasks/icons_audit.py
  tasks/record_esri.py
  tasks/record_issues.py
  tasks/records_bootstrap.py
  tasks/records_check.py
  tasks/records_import.py
  tasks/records_upgrade_2026_04.py
  tasks/records_zap.py
  tasks/release.py
  tasks/search_reindex.py
  tasks/serve.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
  tasks/thumbnail_upload.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/catalogues/test_base_catalogue.py
  tests/lantern_tests/stores/test_base_store.py
  tests/lantern_tests/test_config.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Removing Site hard dependency on Stores
  CHANGELOG.md
  docs/architecture.md
  docs/stores.md
  pyproject.toml
  src/lantern/catalogues/bas.py
  src/lantern/repositories/bas.py
  src/lantern/repositories/base.py
  src/lantern/site.py
  src/lantern/stores/base.py
  tasks/records_preview.py
  tests/conftest.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/repositories/test_bas_repository.py
  tests/lantern_tests/repositories/test_base_repository.py
  tests/lantern_tests/stores/test_base_store.py
  tests/lantern_tests/test_site.py
  tests/resources/catalogues/fake_catalogue.py
  tests/resources/repositories/fake_repository.py
Due: pytest, ty, ruff, markdown, build

Removing ‘access’ from catalogue item summary grid
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/resources/templates/_macros/item.html.j2
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_item.py
Due: pytest, ty, ruff, build

Supporting search index updates
  CHANGELOG.md
  docs/site.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  resources/configs/search.toml
  src/lantern/stores/algolia.py
  tasks/search_configure.py
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_configure_index.yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_configure_index_error.yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_index_settings.yaml
  tests/lantern_tests/stores/test_algolia_store.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Adding initial tests for search against live index
  CHANGELOG.md
  docs/dev.md
  docs/site.md
  pyproject.toml
  tests_search/test_live.py
Due: pytest, ty, ruff, markdown, build

Tidying up
  docs/setup.md
  docs/site.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  src/lantern/models/item/algolia/item.py
  src/lantern/resources/templates/_views/guides/roadmap.html.j2
  src/lantern/stores/algolia.py
  tests/resources/records/item_cat_product_all.py
Due: pytest, ty, ruff, markdown, build

Adding MAGIC as a well known permission
  CHANGELOG.md
  docs/dev.md
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/lib/metadata_library/models/record/presets/admin.py
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  src/lantern/lib/metadata_library/models/record/utils/admin.py
  src/lantern/models/item/base/enums.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tests/lantern_tests/models/item/arcgis/test_item_arcgis.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/utils/test_admin.py
Due: pytest, ty, ruff, markdown, build

Improving development tasks
  CHANGELOG.md
  docs/architecture.md
  docs/models.md
  docs/supplemental/proto-cli-reference.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/item/base/enums.py
  tasks/_config.py
  tasks/artefacts_deposit.py
  tasks/record_permissions.py
  tasks/records_import.py
  tasks/records_workflow_testing.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/presets/test_constraints.py
Due: pytest, ty, ruff, markdown, build

Improving test records
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_dataset_layer.py
  tests/resources/records/item_cat_formatting.py
  tests/resources/records/item_cat_initiative_all.py
  tests/resources/records/item_cat_licence.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_deprecated.py
  tests/resources/records/item_cat_product_live.py
  tests/resources/records/item_cat_product_map.py
  tests/resources/records/item_cat_product_restricted_custom.py
  tests/resources/records/item_cat_product_restricted_magic_team.py
  tests/resources/records/item_cat_product_superseded.py
  tests/resources/records/item_cat_product_web_map.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/utils.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock
