Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Marking link to BAS website as an external link
  src/lantern/resources/templates/_macros/site.html.j2
Due: none

Improving default buttons contrast
  src/lantern/resources/templates/_macros/common.html.j2
Due: none

Improvements and further templates refactoring
  CHANGELOG.md
  pyproject.toml
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  src/lantern/resources/templates/_views/-/index.html.j2
  src/lantern/resources/templates/_views/-/verification.html.j2
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lantern_tests/x_e2e/test_item_e2e.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Updating templates to match new BAS public website
  CHANGELOG.md
  docs/site.md
  docs/supplemental/colour-audit.md
  src/lantern/models/item/catalogue/elements.py
  src/lantern/resources/css/main.css
  src/lantern/resources/fonts/open-sans-italic.ttf
  src/lantern/resources/fonts/open-sans.ttf
  src/lantern/resources/fonts/work-sans-italic.ttf
  src/lantern/resources/fonts/work-sans.ttf
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_layouts/base.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/outputs/test_site_resources.py
Due: pytest, ty, ruff, markdown, build

Responsiveness improvements
  CHANGELOG.md
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
Due: none

Accessibility improvements
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  src/lantern/resources/templates/_assets/js/enhancements.js.j2
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/_tabs/extent.html.j2
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/assets.js.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  src/lantern/resources/templates/_views/-/index.html.j2
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ty, ruff, build

Improve templates
  docs/dev.md
  docs/site.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/x_e2e/test_site_e2e.py
  tests/resources/records/item_cat_formatting.py
Due: pytest, ty, ruff, markdown, build

Improving config validation
  CHANGELOG.md
  docs/config.md
  pyproject.toml
  src/lantern/config.py
  tasks/_config.py
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, markdown, build

Refactoring ISO HTML output to improve parallel use
  CHANGELOG.md
  src/lantern/outputs/record_iso.py
  src/lantern/resources/xsl/iso-html/displayElement.xsl
  src/lantern/resources/xsl/iso-html/elements-ISO.xml
  src/lantern/resources/xsl/iso-html/headers-ISO.xml
  src/lantern/resources/xsl/iso-html/printFormatted.xsl
  src/lantern/resources/xsl/iso-html/printTextLines.xsl
  src/lantern/resources/xsl/iso-html/xml-to-html-ISO.xsl
  src/lantern/resources/xsl/iso-html/xml-to-text-ISO.xsl
  src/lantern/resources/xsl/xml-to-html-ISO-combined.xsl
  src/lantern/site.py
  tests/lantern_tests/outputs/test_record_iso.py
  tests/lantern_tests/test_site.py
Due: pytest, ty, ruff, build

Add dev task for setting GitLab issues in records
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  tasks/_record_utils.py
  tasks/record_gitlab.py
  tasks/records_permissions.py
Due: pytest, ty, ruff, markdown, build

Re-adding parallel S3 exporting
  src/lantern/catalogue.py
  src/lantern/exporters/s3.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_s3_exporter.py
Due: pytest, ty, ruff, build

Updating catalogue aliases to be more specific
  CHANGELOG.md
  docs/dev.md
  docs/models.md
  docs/usage.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/presets/citation.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/record/const.py
  src/lantern/models/record/record.py
  src/lantern/models/verification/elements.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/records_upgrade_2026_02.py
  tasks/records_upgrade_2026_04.py
  tasks/records_zap.py
  tests/lantern_tests/models/item/arcgis/test_item_arcgis.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/verification/test_elements.py
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_latest_records[None].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_record_commit.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_record_commits.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_commit_no_changes.yaml
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/presets/test_aggregations.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/lib_tests/metadata_library/models/record/presets/test_citation.py
  tests/lib_tests/metadata_library/models/record/presets/test_identifiers.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/item_cat_verify.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Replacing Safety with UV audit
  .gitlab-ci.yml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Adding parallel tests via pytest-xdist
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  tests/lantern_tests/x_e2e/test_item_e2e.py
  tests/lantern_tests/x_e2e/test_site_e2e.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Small improvements
  .gitignore
  CHANGELOG.md
  docs/architecture.md
  docs/deployment.md
  docs/dev.md
  docs/models.md
  docs/outputs.md
  docs/usage.md
  resources/dev/haproxy/data_redirect.txt
  src/lantern/catalogue.py
  src/lantern/exporters/base.py
  src/lantern/exporters/local.py
  src/lantern/exporters/rsync.py
  src/lantern/exporters/s3.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  src/lantern/outputs/item_html.py
  src/lantern/site.py
  src/lantern/stores/base.py
  src/lantern/stores/gitlab.py
  tasks/records_bootstrap.py
  tasks/records_preview.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_local_exporter.py
  tests/lantern_tests/exporters/test_rsync_exporter.py
  tests/lantern_tests/exporters/test_s3_exporter.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/test_catalogue_item.py
  tests/lantern_tests/test_catalogue.py
  tests/lantern_tests/test_site.py
  tests/resources/exporters/fake_exporters.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, markdown, build

Block BAS generic namespace from record identifiers
  CHANGELOG.md
  docs/models.md
  src/lantern/models/record/record.py
  tests/lantern_tests/models/record/test_record.py
Due: pytest, ty, ruff, markdown, build
