Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock

Improving distribution distributors record presets
  src/lantern/lib/metadata_library/models/record/presets/contacts.py
  src/lantern/lib/metadata_library/models/record/presets/distribution.py
  tests/lib_tests/metadata_library/models/record/presets/test_contacts.py
  tests/lib_tests/metadata_library/models/record/presets/test_distribution.py
Due: pytest, ruff, build

Moving dict and list cleaning into record utils package
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/lib/metadata_library/models/record/utils/clean.py
  src/lantern/models/record/revision.py
Due: pytest, ruff, build

Moving dict and list cleaning into record utils package
  tests/lib_tests/metadata_library/models/record/elements/test_administration.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_data_quality.py
  tests/lib_tests/metadata_library/models/record/elements/test_distribution.py
  tests/lib_tests/metadata_library/models/record/elements/test_identification.py
  tests/lib_tests/metadata_library/models/record/elements/test_metadata.py
  tests/lib_tests/metadata_library/models/record/elements/test_projection.py
  tests/lib_tests/metadata_library/models/record/presets/test_conformance.py
  tests/lib_tests/metadata_library/models/record/utils/test_clean.py
Due: pytest, ruff, build

Updating change log
  CHANGELOG.md
Due: none

Fixing privacy policy title
  CHANGELOG.md
  src/lantern/resources/templates/_views/legal/privacy.html.j2
Due: none

Fixing record comparisons
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/record/revision.py
Due: pytest, ruff, build

Fixing GitLab store
  src/lantern/stores/gitlab.py
Due: pytest, ruff, build

Improving logging
  src/lantern/stores/gitlab.py
  tasks/records_import.py
  tasks/records_zap.py
Due: pytest, ruff, build

Updating tasks to use admin metadata
  tasks/records_workflow.py
  tasks/records_zap.py
Due: ruff, build

Refactoring catalogue item fixtures
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lantern_tests/templates/test_catalogue_item.py
Due: pytest, ruff, build

Refactoring tests for catalogue restricted access
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Adding initial admin tab
  docs/supplemental/colour-audit.md
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tests/conftest.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Docs
  docs/dev.md
Due: none

Refactoring additional information tab
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Fixes
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tasks/tailwind.py
  tests/conftest.py
Due: pytest, ruff, build

Fixing verification distribution mapping
  docs/dev.md
  src/lantern/models/verification/elements.py
Due: pytest, ruff, build

Fixing records exporter clearing admin signing keys
  src/lantern/exporters/records.py
  tests/lantern_tests/exporters/test_records_exporter.py
Due: pytest, ruff, build

Tidying up
  CHANGELOG.md
  src/lantern/models/item/catalogue/item.py
  src/lantern/stores/gitlab.py
  tasks/records_import.py
  tests/lantern_tests/exporters/test_records_exporter.py
Due: pytest, ruff, build

Fixing GitLab store not handling large numbers of changes
  src/lantern/stores/gitlab.py
Due: pytest, ruff, build

Dependencies upgrade
  uv.lock
Due: pytest, safety, build
