Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ty:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

markdown:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Improving dev tasks
  tasks/records_zap.py
Due: ty, ruff, build

Simplifying AWS permissions
  resources/envs/main.tf
Due: none

Renaming Terraform config
  docs/deployment.md
  docs/infrastructure.md
  pyproject.toml
  resources/infra/.terraform.lock.hcl
  resources/infra/main.tf
  resources/infra/terraform.tfvars.tpl
  tasks/records_invalidate.py
  tasks/records_workflow_live.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
Due: pytest, ty, ruff, markdown, build

Minor template improvements
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ty, ruff, build

Preparing for release
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  pyproject.toml
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  uv.lock
Due: pytest, safety, build

Fix DOI checks
  CHANGELOG.md
  src/lantern/checks.py
  src/lantern/models/checks.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/test_checks.py
Due: pytest, ty, ruff, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding watermark to testing pages
  CHANGELOG.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_layouts/base.html.j2
  src/lantern/resources/templates/_layouts/page.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/templates/layouts/test_base.py
Due: pytest, ty, ruff, build

Using non-generic logger name
  docs/dev.md
  src/lantern/checks.py
  src/lantern/log.py
  src/lantern/site.py
  tests/conftest.py
  tests/lantern_tests/test_log.py
  tests/scripts/build_fake_cat.py
Due: pytest, ty, ruff, markdown, build

Tidying up
  CHANGELOG.md
  docs/monitoring.md
  resources/dev/.env.tpl
  src/lantern/log.py
  tasks/css.py
Due: pytest, ty, ruff, markdown, build

Grafting ADD Metadata Toolbox history
  CHANGELOG.md
  LICENSE.md
  README.md
Due: markdown

Switching to builtin pytest tmp_path fixture
  tests/conftest.py
  tests/lantern_tests/catalogues/test_base_catalogue.py
  tests/lantern_tests/stores/test_gitlab_cache.py
Due: pytest, ty, ruff, build

Refactoring live site cache invalidation
  CHANGELOG.md
  docs/architecture.md
  docs/config.md
  docs/exporters.md
  docs/outputs.md
  docs/supplemental/proto-cli-reference.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/catalogues/bas.py
  src/lantern/config.py
  src/lantern/exporters/cloudfront.py
  src/lantern/outputs/base.py
  src/lantern/outputs/site_pages.py
  src/lantern/outputs/site_resources.py
  src/lantern/site.py
  tasks/records_invalidate.py
  tasks/records_workflow_live.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
  tests/conftest.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/exporters/test_cloudfront_exporter.py
  tests/lantern_tests/outputs/test_base_output.py
  tests/lantern_tests/outputs/test_site_pages.py
  tests/lantern_tests/outputs/test_site_resources.py
  tests/lantern_tests/test_config.py
  tests/lantern_tests/test_site.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Embedded maps e2e fix
  CHANGELOG.md
  tests/lantern_tests/x_e2e/test_item_e2e.py
Due: pytest, ty, ruff, build

Small improvements
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  docs/config.md
  docs/dev.md
  docs/exporters.md
  docs/img/related-projects.png
  docs/infrastructure.md
  docs/outputs.md
  docs/stores.md
  pyproject.toml
  src/lantern/exporters/s3.py
  src/lantern/outputs/base.py
  tasks/_shared.py
  tests/lantern_tests/outputs/test_base_output.py
Due: pytest, ty, ruff, markdown, build

Very initial Algola search integration
  CHANGELOG.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/config.py
  src/lantern/models/item/algolia/__init__.py
  src/lantern/models/item/algolia/item.py
  src/lantern/stores/algolia.py
  tests/conftest.py
  tests/lantern_tests/models/item/algolia/__init__.py
  tests/lantern_tests/models/item/algolia/test_item_algolia.py
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_index_info.yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_index_info_error.yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_len.yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_push[insert].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_push[update].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select[None].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select[selected1].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select[selected2].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select[selected3].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select_one[invalid].yaml
  tests/lantern_tests/stores/cassettes/test_algolia_store/TestAlgoliaStore.test_select_one[x].yaml
  tests/lantern_tests/stores/test_algolia_store.py
  tests/lantern_tests/test_config.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Minor fixes and improvements
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/stores/gitlab.py
  tests/conftest.py
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ty, ruff, build

Refactoring item base classes
  CHANGELOG.md
  src/lantern/models/item/base/enums.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/base/utils.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/outputs/site_index.py
  src/lantern/resources/templates/_macros/common.html.j2
  tests/conftest.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/base/test_utils.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_common.py
Due: pytest, ty, ruff, build

Minor fixes and improvements
  src/lantern/models/item/arcgis/item.py
  src/lantern/models/item/catalogue/item.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
Due: pytest, ty, ruff, build

Fixing app logging
  CHANGELOG.md
  src/lantern/log.py
  tasks/_shared.py
Due: pytest, ty, ruff, build

Fix issues with MAGIC base record preset
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/utils.py
Due: pytest, ty, ruff, build

Allow supersede to not replace aggregations
  docs/supplemental/proto-cli-reference.md
  tasks/record_supersede.py
Due: ty, ruff, markdown, build

Minor improvements
  docs/config.md
  docs/infrastructure.md
  resources/infra/.terraform.lock.hcl
Due: markdown

Minimal improvements to fix pipeline
  .gitlab-ci.yml
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/config.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/test_config.py
  tests/scripts/build_fake_cat.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Nesting dev dependencies
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Improving linting
  pyproject.toml
Due: pytest, build

Improving/fixing types in tests
  tests/conftest.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ty, ruff, build

PyCharm type checker exceptions in tests
  tests/conftest.py
  tests/lantern_tests/templates/layouts/test_base.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ty, ruff, build

Minor fixes
  pyproject.toml
  src/lantern/models/item/arcgis/item.py
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/legal/copyright.html.j2
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/layouts/test_base.py
Due: pytest, ty, ruff, build

Using jinja environment util consistently in tests
  tests/lantern_tests/templates/layouts/test_page.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ty, ruff, build

Fixing markdown formatting utils
  src/lantern/models/item/base/utils.py
  tests/lantern_tests/models/item/base/test_utils.py
Due: pytest, ty, ruff, build

Fixing config property for Algolia app
  src/lantern/config.py
Due: pytest, ty, ruff, build

Refactoring catalogue summary elements
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
Due: pytest, ty, ruff, build

Fixing using BAS repo without an rsync host
  src/lantern/catalogues/bas.py
Due: pytest, ty, ruff, build

Refactoring turnstile script
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/item.html.j2
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/views/test_item.py
Due: pytest, ty, ruff, build

Fix hostname use for local server
  tasks/serve.py
Due: ty, ruff, build

Adding common macro for experimental pages
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_views/search.html.j2
Due: none

Adding security.txt and robots.txt
  src/lantern/outputs/site_resources.py
  src/lantern/resources/txt/robots.txt
  src/lantern/resources/txt/security.txt
  tests/lantern_tests/outputs/test_site_resources.py
Due: pytest, ty, ruff, build

Add experimental roadmap
  src/lantern/outputs/site_pages.py
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/guides/roadmap.html.j2
  tests/lantern_tests/outputs/test_site_pages.py
Due: pytest, ty, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock
