Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Add placeholder home page
  src/lantern/outputs/site_pages.py
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/home.html.j2
  tests/lantern_tests/outputs/test_site_pages.py
Due: pytest, ty, ruff, build

Updating documentation
  CHANGELOG.md
  docs/access.md
  docs/architecture.md
  docs/config.md
  docs/dev.md
  docs/img/architecture-bas-detail.png
  docs/img/architecture-bas-editing.png
  docs/img/architecture-bas-overview.png
  docs/img/architecture-bas-publishing.png
  docs/img/site-io.png
  docs/infrastructure.md
  docs/libraries.md
  docs/models.md
  docs/outputs.md
  docs/setup.md
  docs/site.md
  docs/stores.md
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
Due: markdown

Updating ty and fixing related type issues
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/lantern/exporters/s3.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/models/site.py
  src/lantern/outputs/checks.py
  src/lantern/site.py
  src/lantern/stores/gitlab.py
  tasks/_shared.py
  tests/lantern_tests/exporters/test_s3_exporter.py
  tests/lantern_tests/outputs/test_checks.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_fetch_all_records_head_commit[False].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_fetch_all_records_head_commit[True].yaml
  tests/lantern_tests/stores/test_gitlab_store.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Updating HTML output of enquries power automate flow
  CHANGELOG.md
  resources/flows/lantern-item-enquires.zip
Due: none

Ignore additional turnstile errors
  docs/site.md
  src/lantern/resources/templates/_views/item.html.j2
Due: markdown

Initial ‘run as’ support in dev tasks
  CHANGELOG.md
  tasks/esri_item.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/record_esri.py
  tasks/record_issues.py
  tasks/record_permissions.py
  tasks/record_supersede.py
  tasks/records_build.py
  tasks/records_check.py
  tasks/records_preview.py
  tasks/records_select.py
Due: ty, ruff, build

Small improvements
  CHANGELOG.md
  docs/config.md
  docs/setup.md
  docs/supplemental/proto-cli-reference.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/catalogues/bas.py
  src/lantern/config.py
  src/lantern/exporters/cloudfront.py
  src/lantern/resources/templates/_views/search.html.j2
  tests/lantern_tests/exporters/test_cloudfront_exporter.py
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, markdown, build

Minor improvements
  CHANGELOG.md
  pyproject.toml
  src/lantern/log.py
  tests/conftest.py
  tests/lantern_tests/models/item/algolia/test_item_algolia.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/website/test_search.py
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_latest_records[None].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_record_commit.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_cache/TestGitLabLocalCache.test_fetch_record_commits.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_commit_no_changes.yaml
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/stores/gitlab_cache/cache.db
  tests/resources/stores/gitlab_cache/record.json
  uv.lock
Due: pytest, ty, ruff, safety, build

Updating vulnerable dependency
  uv.lock
Due: pytest, safety, build

Improving Esri item sync
  CHANGELOG.md
  docs/libraries.md
  docs/models.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  src/lantern/lib/arcgis/gis/dataclasses.py
  src/lantern/models/item/arcgis/item.py
  src/lantern/resources/templates/_arcgis/licences/x_magic_products_1.html.j2
  tasks/esri_item.py
  tasks/record_esri.py
  tests/lantern_tests/models/item/arcgis/test_item_arcgis.py
  tests/lib_tests/arcgis/test_dataclasses.py
Due: pytest, ty, ruff, markdown, build

Adding GeoTIFF file distribution type
  CHANGELOG.md
  docs/models.md
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, markdown, build

Fixing restricted Arc distribution URLs
  CHANGELOG.md
  tasks/record_esri.py
Due: ty, ruff, build

Adding parameters output to import dev task
  docs/dev.md
  docs/models.md
  docs/site.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  src/lantern/resources/templates/_views/item.html.j2
  tasks/records_import.py
Due: ty, ruff, markdown, build

Fixing missing faivcon from site assets
  CHANGELOG.md
  src/lantern/outputs/site_resources.py
  tests/lantern_tests/outputs/test_site_resources.py
Due: pytest, ty, ruff, build

Fix test
  tests/lantern_tests/outputs/test_site_resources.py
Due: pytest, ty, ruff, build

Improve footer link for geomatics
  src/lantern/resources/templates/_macros/site.html.j2
Due: none

Minor improvements and fixes
  .gitlab-ci.yml
  CHANGELOG.md
  src/lantern/catalogues/bas.py
  src/lantern/log.py
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_views/item.html.j2
  src/lantern/site.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Adding search stats and sharing links
  docs/access.md
  docs/dev.md
  docs/site.md
  src/lantern/resources/templates/_assets/js/search.js.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_views/search.html.j2
  tests/lantern_tests/x_e2e/test_search_e2e.py
Due: pytest, ty, ruff, markdown, build

Adding health check for Algolia
  docs/architecture.md
  docs/monitoring.md
  docs/outputs.md
  src/lantern/catalogues/bas.py
  src/lantern/outputs/site_health.py
  src/lantern/site.py
  tests/conftest.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/outputs/test_site_health.py
Due: pytest, ty, ruff, markdown, build

Improve site design
  CHANGELOG.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/x_e2e/test_site_e2e.py
Due: pytest, ty, ruff, build

Update dependencies
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, markdown, build

Minor improvements
  CHANGELOG.md
  docs/monitoring.md
  docs/outputs.md
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/home.html.j2
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/test_site.py
Due: pytest, ty, ruff, markdown, build

Improve publishing workflows
  tasks/records_workflow_testing.py
Due: ty, ruff, build

Adding search reindex dev task
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  pyproject.toml
  tasks/search_reindex.py
Due: pytest, ty, ruff, markdown, build

Improve publishing workflows
  tasks/records_workflow_live.py
Due: ty, ruff, build

Linting fixes
  tasks/records_workflow_testing.py
Due: ty, ruff, build

Improving local stack support
  CHANGELOG.md
  docs/dev.md
  docs/infrastructure.md
  docs/setup.md
  docs/usage.md
  resources/dev/.env.tpl
  resources/dev/.terraform.lock.hcl
  resources/dev/haproxy/data_redirect.txt
  resources/dev/main.tf
  resources/infra/main.tf
  tasks/_shared.py
Due: ty, ruff, markdown, build

Adding branch selection to dev task
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  src/lantern/repositories/bas.py
  tasks/records_select.py
  tests/lantern_tests/repositories/cassettes/test_bas_repository/TestBasRepository.test_select_branches.yaml
  tests/lantern_tests/repositories/test_bas_repository.py
Due: pytest, ty, ruff, markdown, build

Adding ArcGIS web map distribution option
  docs/dev.md
  docs/models.md
  src/lantern/checks.py
  src/lantern/models/checks.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/record_esri.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lantern_tests/test_checks.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, markdown, build

Adding ArcGIS scene layers
  CHANGELOG.md
  docs/models.md
  src/lantern/models/checks.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/record_esri.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, markdown, build

Fix search share links
  src/lantern/resources/templates/_assets/js/search.js.j2
Due: none

Upgrading Python to 3.14
  .gitlab-ci.yml
  .python-version
  CHANGELOG.md
  pyproject.toml
  src/lantern/lib/arcgis/gis/dataclasses.py
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/elements/data_quality.py
  src/lantern/lib/metadata_library/models/record/elements/distribution.py
  src/lantern/lib/metadata_library/models/record/elements/identification.py
  src/lantern/lib/metadata_library/models/record/elements/metadata.py
  src/lantern/lib/metadata_library/models/record/elements/projection.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/presets/citation.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/checks.py
  src/lantern/models/item/base/elements.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/record/record.py
  src/lantern/models/record/revision.py
  src/lantern/models/site.py
  src/lantern/site.py
  src/lantern/stores/gitlab_cache.py
  tasks/_shared.py
  tests/conftest.py
  tests/lantern_tests/x_e2e/test_search_e2e.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Small improvements
  docs/deployment.md
  resources/scripts/non-interactive-publishing-workflow.py
  tasks/records_upgrade_2026_04.py
Due: ty, ruff, markdown, build

Avoiding test warnings due to coverage checks
  pyproject.toml
Due: pytest, build

Update dependency vulnerability
  uv.lock
Due: pytest, safety, build

Adding basic print styles
  CHANGELOG.md
  docs/site.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_layouts/base.html.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
Due: markdown

Adding local aggregation initiative for map layers
  CHANGELOG.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_dataset_layer.py
  tests/resources/records/item_cat_product_web_map.py
  tests/resources/stores/fake_records_store.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Small improvements and fixes
  .gitlab-ci.yml
  docs/dev.md
  pyproject.toml
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
  uv.lock
Due: pytest, safety, markdown, build

Update non-interactive publishing script
  resources/scripts/non-interactive-publishing-workflow-schema.json
  resources/scripts/non-interactive-publishing-workflow.py
Due: ty, ruff, build

Using 1Password secret for CloudFront distribution
  docs/config.md
  resources/dev/.env.tpl
  resources/infra/main.tf
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/esri_item.py
Due: ty, ruff, markdown, build
