Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Adding metadata maintenance
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/elements/identification.py
  src/lantern/lib/metadata_library/models/record/elements/metadata.py
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_identification.py
  tests/lib_tests/metadata_library/models/record/elements/test_metadata.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/utils.py
Due: pytest, ty, ruff, build

Updating page handling in descriptive series
  src/lantern/models/item/base/item.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
Due: pytest, ty, ruff, build

Tidying up
  docs/libraries.md
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
Due: pytest, ty, ruff, markdown, build

Fix linting
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
Due: pytest, ty, ruff, build

Refactoring administration metadata model
  src/lantern/lib/metadata_library/models/record/elements/administration.py
  src/lantern/lib/metadata_library/models/record/presets/admin.py
  src/lantern/lib/metadata_library/models/record/utils/admin.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/item/website/search.py
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  tests/conftest.py
  tests/lantern_tests/exporters/test_website_exporter.py
  tests/lantern_tests/exporters/test_xml_exporter.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/item/website/test_search.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/elements/test_administration.py
  tests/lib_tests/metadata_library/models/record/presets/test_admin.py
  tests/lib_tests/metadata_library/models/record/utils/test_admin.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/utils.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Adding admin meta profile to record handling
  src/lantern/lib/metadata_library/models/record/presets/conformance.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/record/revision.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ty, ruff, build

Fixing MAGIC discovery conformance
  src/lantern/lib/metadata_library/models/record/presets/conformance.py
Due: pytest, ty, ruff, build

Refactoring administration metadata sealing
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/lib/metadata_library/models/record/utils/admin.py
  src/lantern/models/record/record.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_xml_exporter.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/test_config.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/lib_tests/metadata_library/models/record/utils/test_admin.py
  tests/resources/admin_keys.py
  tests/resources/records/admin_keys/__init__.py
  tests/resources/records/admin_keys/encryption_key_private.json
  tests/resources/records/admin_keys/signing_key_private.json
  tests/resources/records/admin_keys/signing_key_public.json
  tests/resources/records/admin_keys/testing_keys.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_initiative_all.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/utils.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Exposing record as a proper property in item models
  CHANGELOG.md
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/special/physical_map.py
  src/lantern/models/item/website/search.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
Due: pytest, ty, ruff, build

Refactoring MAGIC base record
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/resources/records/utils.py
Due: pytest, ty, ruff, build

Improving item super-type detection
  src/lantern/models/item/catalogue/const.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
Due: pytest, ty, ruff, build

Fixing bugs with citations missing contacts
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/elements/data_quality.py
  src/lantern/lib/metadata_library/models/record/elements/projection.py
  tests/lib_tests/metadata_library/models/record/elements/test_data_quality.py
  tests/lib_tests/metadata_library/models/record/elements/test_projection.py
Due: pytest, ty, ruff, build

Updating dev tasks
  tasks/cache_init.py
  tasks/css.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/records_bootstrap.py
  tasks/records_permissions.py
  tasks/records_workflow.py
  tasks/records_zap.py
  tasks/release.py
  tests/conftest.py
Due: pytest, ty, ruff, build

Remove GitLab issues for additional information tab
  CHANGELOG.md
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tests/lantern_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ty, ruff, build

Adding icons to internal index exporter output
  CHANGELOG.md
  src/lantern/exporters/site.py
  src/lantern/resources/templates/_views/-/index.html.j2
Due: pytest, ty, ruff, build

Minor tidying up
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  tests/resources/records/item_cat_collection_min.py
  tests/resources/records/item_cat_initiative_min.py
  tests/resources/records/item_cat_product_min.py
  tests/resources/records/item_cat_product_replaced.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/utils.py
Due: pytest, ty, ruff, build

Updating to latest metadata library RC
  CHANGELOG.md
  uv.lock
Due: pytest, safety, build

Minor change
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ty, ruff, build

Adding initial Ops EO import
  pyproject.toml
  tasks/records_ops_eo.py
Due: pytest, ty, ruff, build

Adding Copernicus Sentinel licence
  src/lantern/models/item/catalogue/enums.py
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_licence.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, build
