Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Add live records workflow
  docs/usage.md
  pyproject.toml
  src/lantern/utils.py
  tasks/_record_utils.py
  tasks/records_workflow.py
  tasks/records_workflow_live.py
  tasks/records_workflow_testing.py
  tests/lantern_tests/test_utils.py
Due: pytest, ty, ruff, markdown, build

Adding Esri item dev task
  .gitignore
  CHANGELOG.md
  docs/data-model.md
  docs/dev.md
  docs/infrastructure.md
  docs/libraries.md
  docs/setup.md
  docs/usage.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/lib/arcgis/__init__.py
  src/lantern/lib/arcgis/gis/__init__.py
  src/lantern/lib/arcgis/gis/dataclasses.py
  src/lantern/lib/arcgis/gis/enums.py
  src/lantern/lib/metadata_library/models/record/utils/clean.py
  src/lantern/models/item/arcgis/__init__.py
  src/lantern/models/item/arcgis/item.py
  src/lantern/models/item/base/enums.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_arcgis/description.html.j2
  src/lantern/resources/templates/_arcgis/licences/ogl_uk_3_0.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tasks/_config.py
  tasks/esri_item.py
  tasks/record_esri.py
  tests/conftest.py
  tests/lantern_tests/models/item/arcgis/__init__.py
  tests/lantern_tests/models/item/arcgis/test_item_arcgis.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/arcgis/__init__.py
  tests/lib_tests/arcgis/test_dataclasses.py
  tests/lib_tests/metadata_library/models/record/utils/test_clean.py
Due: pytest, ty, ruff, markdown, build

Improvements
  CHANGELOG.md
  README.md
  docs/data-model.md
  docs/dev.md
  docs/exporters.md
  resources/assets/logo-agol.png
  resources/assets/logo-records.png
  resources/assets/logo.png
  resources/assets/logo.pxd
  resources/envs/main.tf
  resources/flows/lantern-item-enquires.zip
  src/lantern/lib/metadata_library/models/record/elements/distribution.py
  src/lantern/lib/metadata_library/models/record/record.py
  tasks/_record_utils.py
  tasks/css.py
  tasks/record_clone.py
  tasks/record_esri.py
  tasks/records_bootstrap.py
  tasks/records_select.py
  tasks/records_workflow_testing.py
  tasks/records_zap.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/elements/test_distribution.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/item_cat_verify.py
  tests/resources/stores/gitlab_cache/cache.db
Due: pytest, ty, ruff, markdown, build

Adding map purchasing guide
  CHANGELOG.md
  src/lantern/exporters/site.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/guides/map-purchasing.html.j2
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ty, ruff, build

Fixing change log
  CHANGELOG.md
Due: none

Fix UV CI version
  .gitlab-ci.yml
Due: none

Add Terraform linting to CI
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Moving records store under MAGIC
  docs/architecture.md
  docs/infrastructure.md
  resources/envs/main.tf
Due: markdown

Adding CloudFront invalidation tasks
  CHANGELOG.md
  docs/site.md
  docs/usage.md
  pyproject.toml
  resources/envs/main.tf
  resources/envs/terraform.tfvars.tpl
  tasks/records_invalidate.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
Due: pytest, ty, ruff, markdown, build

Improve Terraform config
  resources/envs/main.tf
Due: none

Documentation improvements
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/data-model.md
  docs/img/architecture-wide.png
  docs/img/entities-resources.png
  docs/img/infra-components.png
  docs/img/site-io.png
Due: markdown

Adding catalogue class
  CHANGELOG.md
  pyproject.toml
  resources/dev/.env.tpl
  resources/scripts/non-interactive-publishing-workflow.py
  resources/scripts/site-verify.py
  src/lantern/catalogue.py
  src/lantern/config.py
  src/lantern/models/site.py
  src/lantern/site.py
  src/lantern/utils.py
  tests/conftest.py
  tests/lantern_tests/cassettes/test_verification/TestVerification.test_run.yaml
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/outputs/test_item_html.py
  tests/lantern_tests/outputs/test_site_api.py
  tests/lantern_tests/outputs/test_site_health.py
  tests/lantern_tests/test_catalogue.py
  tests/lantern_tests/test_config.py
  tests/lantern_tests/test_site.py
  tests/lantern_tests/test_utils.py
  tests/resources/catalogues/__init__.py
  tests/resources/catalogues/fake_catalogue.py
  tests/scripts/build_fake_cat.py
Due: pytest, ty, ruff, build

Updating dev tasks to support catalogue classes
  CHANGELOG.md
  pyproject.toml
  src/lantern/utils.py
  tasks/_record_utils.py
  tasks/cache_init.py
  tasks/css.py
  tasks/esri_item.py
  tasks/output.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/record_esri.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_invalidate.py
  tasks/records_permissions.py
  tasks/records_preview.py
  tasks/records_select.py
  tasks/records_verify.py
  tasks/records_workflow_live.py
  tasks/records_workflow_testing.py
  tasks/records_zap.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
  tests/lantern_tests/test_utils.py
Due: pytest, ty, ruff, build

Updating documentation
  docs/access.md
  docs/architecture.md
  docs/config.md
  docs/deployment.md
  docs/dev.md
  docs/exporters.md
  docs/img/architecture-bas-detail.png
  docs/img/architecture-bas-overview.png
  docs/img/architecture-min.png
  docs/img/architecture-narrow.png
  docs/img/architecture-wide.png
  docs/img/entities-resources.png
  docs/img/infra-components.png
  docs/img/infra-hosting.png
  docs/img/site-io.png
  docs/infrastructure.md
  docs/libraries.md
  docs/models.md
  docs/monitoring.md
  docs/outputs.md
  docs/setup.md
  docs/site.md
  docs/stores.md
  docs/supplemental/colour-audit.md
  docs/supplemental/icon-audit.md
  docs/usage.md
Due: markdown

Improvements
  .gitignore
  CHANGELOG.md
  docs/usage.md
  resources/dev/.env.tpl
  resources/envs/main.tf
  src/lantern/exporters/local.py
  src/lantern/exporters/s3.py
  src/lantern/models/site.py
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tasks/_config.py
  tasks/cache_init.py
  tasks/config_check.py
  tasks/css.py
  tasks/css_audit.py
  tasks/esri_item.py
  tasks/icons_audit.py
  tasks/keys_check.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/record_esri.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_invalidate.py
  tasks/records_permissions.py
  tasks/records_preview.py
  tasks/records_select.py
  tasks/records_verify.py
  tasks/records_workflow_live.py
  tasks/records_zap.py
  tasks/release.py
  tasks/serve.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Clarifying ISO support
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/enums.py
Due: pytest, ty, ruff, markdown, build

Removing WIP code
  tasks/records_ops_eo.py
Due: ty, ruff, build

Refactoring headings font weight into a common variable
  CHANGELOG.md
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
Due: none

Increasing padding for item summary
  src/lantern/resources/templates/_macros/item.html.j2
Due: none
