Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ty:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

markdown:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Dependecies upgrade to address vulnerabilities
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Small improvements
  CHANGELOG.md
  pyproject.toml
  src/lantern/stores/gitlab.py
  src/lantern/stores/gitlab_cache.py
  tests/conftest.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lantern_tests/test_site.py
  tests/resources/repositories/fake_repository.py
Due: pytest, ty, ruff, build

Fixing local stack
  CHANGELOG.md
  resources/dev/docker-compose.yml
  resources/dev/main.tf
Due: none

Fixing padding in alerts
  CHANGELOG.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_layouts/page-legal.html.j2
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  src/lantern/resources/templates/_views/-/checks.html.j2
  src/lantern/resources/templates/_views/-/index.html.j2
  src/lantern/resources/templates/_views/guides/formatting.html.j2
  src/lantern/resources/templates/_views/guides/map-purchasing.html.j2
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
Due: none

Adding Turnstile error handler
  CHANGELOG.md
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
Due: none

Update documentation
  docs/access.md
  docs/architecture.md
  docs/config.md
  docs/deployment.md
  docs/dev.md
  docs/img/architecture-bas-detail.png
  docs/img/architecture-bas-editing.png
  docs/img/architecture-bas-overview.png
  docs/img/architecture-generic-min.png
  docs/img/architecture-min.png
  docs/infrastructure.md
  docs/models.md
  docs/monitoring.md
  docs/setup.md
  docs/site.md
  docs/stores.md
  docs/usage.md
Due: markdown

Re-adding dev tasks
  CHANGELOG.md
  pyproject.toml
  src/lantern/lib/arcgis/gis/enums.py
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  tasks/.gitkeep
  tasks/_config.py
  tasks/_shared.py
  tasks/cache_init.py
  tasks/config_check.py
  tasks/css.py
  tasks/css_audit.py
  tasks/esri_item.py
  tasks/icons_audit.py
  tasks/keys_check.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/record_esri.py
  tasks/record_issues.py
  tasks/record_permissions.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_check.py
  tasks/records_import.py
  tasks/records_invalidate.py
  tasks/records_preview.py
  tasks/records_select.py
  tasks/records_upgrade_2026_04.py
  tasks/records_workflow_live.py
  tasks/records_workflow_testing.py
  tasks/records_zap.py
  tasks/release.py
  tasks/serve.py
  tasks/site_invalidate.py
  tasks/thumbnail_invalidate.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, build

Adding support for construction CDE downloads
  CHANGELOG.md
  docs/models.md
  src/lantern/models/checks.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, markdown, build

Refactoring distributions
  src/lantern/models/item/catalogue/distributions.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
Due: pytest, ty, ruff, build

Updating checks test record
  tests/resources/records/item_cat_checks.py
Due: pytest, ty, ruff, build

Use test site key for turnstile when testing
  pyproject.toml
  tests/lantern_tests/test_config.py
  tests/scripts/build_fake_cat.py
Due: pytest, ty, ruff, build

Adding ADD to allowed GH projects
  resources/envs/main.tf
Due: none

Rewrite usage docs
  docs/deployment.md
  docs/setup.md
  docs/supplemental/non-interactive-publishing.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
Due: markdown

Adding supersede record task
  CHANGELOG.md
  docs/supplemental/proto-cli-reference.md
  docs/usage.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/elements/identification.py
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/lib/metadata_library/models/record/presets/aggregations.py
  src/lantern/models/item/catalogue/elements.py
  tasks/record_supersede.py
  tasks/records_workflow_testing.py
  tasks/records_zap.py
  tests/lib_tests/metadata_library/models/record/elements/test_identification.py
  tests/lib_tests/metadata_library/models/record/presets/test_aggregations.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Workaround GitLab PAT rotation
  docs/deployment.md
  resources/envs/main.tf
Due: markdown

Improve docs
  docs/usage.md
Due: markdown

Support multiple CDE refs
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, build

Fix typing
  tasks/records_build.py
Due: ty, ruff, build

Fix selecting records from alt branch
  tasks/records_select.py
Due: ty, ruff, build

Tidying up
  tasks/records_workflow_live.py
  tests/resources/records/item_cat_checks.py
  tests/resources/records/item_cat_data.py
Due: pytest, ty, ruff, build

Exclude turnstile errors from Sentry
  src/lantern/resources/templates/_macros/assets.js.j2
Due: none

Fix non-interactive publishing workflow
  resources/scripts/non-interactive-publishing-workflow.py
  tests/lantern_tests/x_workflows/test_non_interactive.py
Due: pytest, ty, ruff, build

Grammer fix
  src/lantern/config.py
Due: pytest, ty, ruff, build

Update non-interactive workflow
  resources/scripts/non-interactive-publishing-workflow.py
Due: ty, ruff, build

Improving presets for automated records
  CHANGELOG.md
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/presets/aggregations.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/presets/identifiers.py
  tasks/record_clone.py
  tasks/record_supersede.py
  tests/lantern_tests/models/record/test_record.py
  tests/lib_tests/metadata_library/models/record/presets/test_identifiers.py
Due: pytest, ty, ruff, markdown, build

Fix uv audit finding
  uv.lock
Due: pytest, safety, build

Fix variable typo
  resources/scripts/non-interactive-publishing-workflow.py
Due: ty, ruff, build

Updating constraint presets
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  tests/lib_tests/metadata_library/models/record/presets/test_constraints.py
Due: pytest, ty, ruff, build

Adding distribution presets and utils
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/distribution.py
  src/lantern/lib/metadata_library/models/record/utils/distribution.py
  tests/lib_tests/metadata_library/models/record/presets/test_distribution.py
  tests/lib_tests/metadata_library/models/record/utils/test_distribution.py
Due: pytest, ty, ruff, build

Switching to HTML minifier
  CHANGELOG.md
  pyproject.toml
  src/lantern/outputs/checks.py
  src/lantern/outputs/item_html.py
  src/lantern/outputs/site_api.py
  src/lantern/outputs/site_index.py
  src/lantern/outputs/site_pages.py
  src/lantern/utils.py
  tests/conftest.py
  tests/lantern_tests/outputs/test_checks.py
  tests/lantern_tests/outputs/test_item_html.py
  tests/lantern_tests/outputs/test_site_index.py
  tests/lantern_tests/test_utils.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Minor docs improvements
  CHANGELOG.md
  docs/supplemental/non-interactive-publishing.md
  docs/usage.md
Due: markdown

Updating test records to use new presets
  tests/resources/records/item_cat_product_restricted.py
Due: pytest, ty, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock
