Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock

Adding recognition of BAS STAFF access level
  src/lantern/models/item/base/item.py
  tests/lantern_tests/models/item/base/test_item_base.py
Due: pytest, ruff, build

Improving dev tasks
  tasks/records_import.py
  tasks/records_permissions.py
  tasks/records_workflow.py
  tasks/records_zap.py
Due: ruff, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating to latest Embedded Maps Service
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Fixing legal policy dates
  CHANGELOG.md
  src/lantern/resources/templates/_views/legal/cookies.html.j2
  src/lantern/resources/templates/_views/legal/copyright.html.j2
  src/lantern/resources/templates/_views/legal/privacy.html.j2
Due: none

Small fixes
  pyproject.toml
  tasks/records_permissions.py
  tasks/records_workflow.py
  tasks/records_zap.py
Due: pytest, ruff, build

Docs improvements
  docs/exporters.md
  docs/libraries.md
Due: none

Allowing mismatched admin metadata to be reset
  tasks/records_permissions.py
Due: ruff, build

Adding logging
  src/lantern/exporters/site.py
  src/lantern/exporters/waf.py
  src/lantern/exporters/website.py
Due: pytest, ruff, build

Allow GitLab store branch to be set
  CHANGELOG.md
  docs/config.md
  docs/stores.md
  pyproject.toml
  resources/env/.env.tpl
  src/lantern/config.py
  src/lantern/stores/gitlab.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_load.py
  tasks/records_select.py
  tasks/records_verify.py
  tasks/records_workflow.py
  tasks/records_zap.py
  tests/conftest.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lantern_tests/test_config.py
  tests/resources/stores/gitlab_cache/head_commit.json
Due: pytest, ruff, build

Enable creating missing GitLab store branches
  docs/stores.md
  src/lantern/stores/gitlab.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_commit[update-expected2].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_ensure_branch[False].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabStore.test_ensure_branch[True].yaml
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ruff, build

Adding branch support to GitLab store and improving record dev tasks
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/stores.md
  docs/usage.md
  pyproject.toml
  src/lantern/stores/gitlab.py
  tasks/_record_utils.py
  tasks/record_clone.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_load.py
  tasks/records_permissions.py
  tasks/records_select.py
  tasks/records_verify.py
  tasks/records_workflow.py
  tasks/records_zap.py
  tests/conftest.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_current[fx_gitlab_cache_pop-False].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_current[fx_gitlab_cache_pop-True].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_head_commit_remote.yaml
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ruff, build

Adding MAGIC Discovery v2 support
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/presets/conformance.py
  src/lantern/lib/metadata_library/models/record/presets/contacts.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/lib_tests/metadata_library/models/record/presets/test_conformance.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/records/utils.py
  uv.lock
Due: pytest, ruff, safety, build

f
  src/lantern/lib/metadata_library/models/record/record.py
Due: pytest, ruff, build

Adding initial initiatives support
  docs/data-model.md
  docs/dev.md
  src/lantern/models/item/base/enums.py
  src/lantern/models/item/catalogue/const.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/record/record.py
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_initiative_all.py
  tests/resources/records/item_cat_initiative_min.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ruff, build

Small fixes
  .gitlab-ci.yml
  README.md
  docs/dev.md
  docs/libraries.md
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Improving docs
  docs/dev.md
Due: none

Removing unused base item property
  src/lantern/models/item/base/item.py
Due: pytest, ruff, build

Improving test records
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_initiative_all.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ruff, build

Fixing types
  src/lantern/models/item/catalogue/elements.py
Due: pytest, ruff, build
