Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Type checking fixes
  CHANGELOG.md
  pyproject.toml
  src/lantern/exporters/html.py
  src/lantern/exporters/json.py
  src/lantern/exporters/records.py
  src/lantern/exporters/site.py
  src/lantern/exporters/xml.py
  src/lantern/lib/markdown/formats/plaintext.py
  src/lantern/lib/metadata_library/models/record/__init__.py
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/elements/distribution.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/presets/conformance.py
  src/lantern/lib/metadata_library/models/record/presets/contacts.py
  src/lantern/lib/metadata_library/models/record/presets/projections.py
  src/lantern/models/item/base/elements.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/stores/gitlab.py
  tests/lantern_tests/exporters/test_html_exporter.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lib_tests/markdown/test_plaintext.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_data_quality.py
  tests/lib_tests/metadata_library/models/record/elements/test_distribution.py
  tests/lib_tests/metadata_library/models/record/elements/test_metadata.py
  tests/lib_tests/metadata_library/models/record/elements/test_projection.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/lib_tests/metadata_library/models/record/presets/test_contacts.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/stores/gitlab_cache/records/a1b2c3.pickle
  uv.lock
Due: pytest, ruff, safety, build

Tweaking CI
  .gitlab-ci.yml
Due: none

Adding to pre-commit
  .pre-commit-config.yaml
Due: none

Tidying up
  docs/exporters.md
  docs/site.md
Due: none

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding markdown linting
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Applying markdown linting changes
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  LICENSE.md
  README.md
  docs/config.md
  docs/data-model.md
  docs/dev.md
  docs/infrastructure.md
  docs/libraries.md
  docs/setup.md
  docs/site.md
  docs/stores.md
  docs/supplemental/colour-audit.md
  docs/usage.md
Due: none

Renaming record related dev tasks
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  tasks/records_boostrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_load.py
  tasks/records_select.py
  tests/scripts/build_test.py
Due: pytest, ruff, build

Tidying up
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/__init__.py
  src/lantern/lib/metadata_library/models/record/presets/aggregations.py
Due: pytest, ruff, build

Fixing config options table
  docs/config.md
Due: none

Replacing public website search
  CHANGELOG.md
  docs/config.md
  docs/exporters.md
  docs/setup.md
  pyproject.toml
  src/lantern/config.py
  src/lantern/exporters/site.py
  src/lantern/exporters/website.py
  src/lantern/models/item/base/__init__.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/website/search.py
  support/public-website-search/wp-plugin.zip
  support/public-website-search/wp-theme.zip
  tests/conftest.py
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_delete.yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_fetch_posts[False].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_fetch_posts[True].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_upsert[123].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_upsert[None].yaml
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/exporters/test_website_exporter.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/website/test_search.py
  tests/lantern_tests/test_config.py
  uv.lock
Due: pytest, ruff, safety, build

Minor improvements
  docs/dev.md
  src/lantern/resources/templates/_views/-/formatting.html.j2
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
Due: pytest, ruff, build

Fixing Record vs RecordRevision issues
  src/lantern/exporters/base.py
  src/lantern/models/item/catalogue/__init__.py
  src/lantern/models/item/catalogue/special/physical_map.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/resources/records/item_cat_collection_min.py
  tests/resources/records/item_cat_product_min.py
Due: pytest, ruff, build

Additional RecordRevision migration fixes
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Fixing types for contact roles
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Updating paper map purchase option
  CHANGELOG.md
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/records_import.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_data.py
Due: pytest, ruff, build

Initial new record classes
  CHANGELOG.md
  src/lantern/models/record/__init__.py
  tests/conftest.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ruff, build

Refactoring fixtures for records and items
  CHANGELOG.md
  src/lantern/exporters/base.py
  src/lantern/exporters/html.py
  src/lantern/exporters/site.py
  src/lantern/models/item/catalogue/special/physical_map.py
  src/lantern/models/record/revision.py
  src/lantern/stores/base.py
  src/lantern/stores/gitlab.py
  tasks/records_import.py
  tasks/records_load.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/exporters/test_html_exporter.py
  tests/lantern_tests/exporters/test_iso_exporter.py
  tests/lantern_tests/exporters/test_json_exporter.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/exporters/test_website_exporter.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/item/website/test_search.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/stores/test_base_store.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/test_catalogue_item.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ruff, build

Refactoring Record related docs
  docs/data-model.md
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/__init__.py
Due: pytest, ruff, build

Tidying up
  src/lantern/lib/metadata_library/models/record/__init__.py
  src/lantern/models/record/revision.py
  tests/lantern_tests/models/item/base/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/test_templates.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
