Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Improving records exporter test time
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Tidying up
  tests/lantern_tests/exporters/test_records_exporter.py
Due: pytest, ruff, build

Adding trusted content publishing
  pyproject.toml
  src/lantern/utils.py
  tasks/records_build.py
  tasks/records_workflow.py
  tests/lantern_tests/test_utils.py
  uv.lock
Due: pytest, ruff, safety, build

Adding dev task specific config
  tasks/_config.py
  tasks/_record_utils.py
  tasks/config_check.py
  tasks/records_build.py
  tasks/records_permissions.py
  tasks/records_workflow.py
  tasks/records_zap.py
Due: ruff, build

Refactoring local GitLab stack
  .gitignore
  docs/dev.md
  pyproject.toml
  resources/dev/docker-compose.yml
  resources/dev/main.tf
Due: pytest, build

Adding hosting setup to local stack
  resources/dev/apache/Dockerfile
  resources/dev/apache/index.html
  resources/dev/apache/vhost.conf
  resources/dev/docker-compose.yml
  resources/dev/haproxy/data_internal_redirect.txt
  resources/dev/haproxy/data_redirect.txt
  resources/dev/haproxy/haproxy.cfg
Due: none

Refactoring trusted upload to support local targets
  src/lantern/utils.py
  tasks/_config.py
  tasks/records_build.py
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Correcting dependency group
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Small fixes
  pyproject.toml
  resources/dev/.env.tpl
  resources/dev/.terraform.lock.hcl
  src/lantern/exporters/site.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/records_build.py
  tasks/records_workflow.py
Due: pytest, ruff, build

Small improvements
  resources/envs/main.tf
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tasks/_record_utils.py
  tasks/records_import.py
  tasks/records_workflow.py
Due: ruff, build

Improving docs
  CHANGELOG.md
  docs/config.md
  docs/deployment.md
  docs/dev.md
  docs/img/architecture-narrow.png
  docs/img/architecture-wide.png
  docs/img/infra-components.png
  docs/img/infra-hosting.png
  docs/img/infrastructure.png
  docs/img/site-io.png
  docs/infrastructure.md
  docs/monitoring.md
  docs/setup.md
  docs/site.md
  docs/usage.md
Due: none

Adding usage tasks for replacing artefacts/thumbnails
  docs/usage.md
Due: none

Capturing and refactoring non-interactive workflow with overall test.
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/deployment.md
  docs/infrastructure.md
  docs/usage.md
  resources/scripts/non-interactive-publishing-workflow.py
  src/lantern/stores/gitlab.py
  tests/lantern_tests/_workflows/__init__.py
  tests/lantern_tests/_workflows/cassettes/test_non_interactive/TestPublishingWorkflow.test_run.yaml
  tests/lantern_tests/_workflows/test_non_interactive.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ruff, build

Refactoring trusted publishing into HTML exporter
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/config.md
  docs/dev.md
  docs/exporters.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/config.py
  src/lantern/exporters/html.py
  src/lantern/exporters/records.py
  src/lantern/models/site.py
  src/lantern/utils.py
  tasks/_config.py
  tasks/records_build.py
  tasks/records_workflow.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_html_exporter.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/test_config.py
  tests/lantern_tests/test_utils.py
  tests/lantern_tests/x_workflows/__init__.py
  tests/lantern_tests/x_workflows/cassettes/test_non_interactive/TestPublishingWorkflow.test_run.yaml
  tests/lantern_tests/x_workflows/test_non_interactive.py
Due: pytest, ruff, build

Catching up change log
  CHANGELOG.md
Due: none

Small fixes
  .gitignore
  docs/config.md
  pyproject.toml
  src/lantern/log.py
  tests/lantern_tests/exporters/test_html_exporter.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lantern_tests/test_config.py
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Small tweaks
  docs/img/infra-hosting.png
  pyproject.toml
  src/lantern/config.py
  tasks/records_workflow.py
Due: pytest, ruff, build

Moving e2e tests
  tests/lantern_tests/x_e2e/__init__.py
  tests/lantern_tests/x_e2e/test_item_e2e.py
  tests/lantern_tests/x_e2e/test_site_e2e.py
Due: pytest, ruff, build

Improving environment names consistency
  docs/infrastructure.md
  docs/setup.md
  resources/dev/docker-compose.yml
  resources/dev/haproxy/haproxy.cfg
  resources/envs/main.tf
Due: none

Upgrading pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
