Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Requiring file identifier in base MAGIC record
  src/lantern/lib/metadata_library/models/record/presets/base.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
Due: pytest, ty, ruff, build

Removing requirement for admin metadata in catalogue records
  CHANGELOG.md
  docs/data-model.md
  src/lantern/models/record/record.py
  tests/lantern_tests/models/record/test_record.py
Due: pytest, ty, ruff, markdown, build

Removing requirement for admin keys in catalogue items
  src/lantern/models/item/catalogue/item.py
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
Due: pytest, ty, ruff, build

Fixing minimal test records
  CHANGELOG.md
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_collection_min.py
  tests/resources/records/item_cat_collection_open_min.py
  tests/resources/records/item_cat_initiative_min.py
  tests/resources/records/item_cat_initiative_open_min.py
  tests/resources/records/item_cat_product_min.py
  tests/resources/records/item_cat_product_open_min.py
  tests/resources/records/utils.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, build

Fixing development builds
  tests/scripts/build_test.py
Due: pytest, ty, ruff, build

Small changes and improvements
  docs/data-model.md
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/presets/aggregations.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/record/record.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
Due: pytest, ty, ruff, markdown, build

Allow newer UV build versions
  pyproject.toml
Due: pytest, build

Fix test
  tests/lantern_tests/x_e2e/test_item_e2e.py
Due: pytest, ty, ruff, build

Adding sentry to non-interactive workflow
  resources/scripts/non-interactive-publishing-workflow.py
Due: ty, ruff, build

Adding site verify script
  CHANGELOG.md
  resources/scripts/site-verify.py
Due: ty, ruff, build

Adding admin meta keys verify script
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  tasks/keys_check.py
Due: pytest, ty, ruff, markdown, build

Adding records preview dev task
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  tasks/records_preview.py
Due: pytest, ty, ruff, markdown, build

Adding GitLab personal access tokens rotation
  CHANGELOG.md
  docs/deployment.md
  docs/infrastructure.md
  resources/envs/main.tf
Due: markdown

Update documentation
  CHANGELOG.md
  docs/data-model.md
  docs/deployment.md
  docs/dev.md
  docs/libraries.md
  docs/monitoring.md
  docs/setup.md
  docs/usage.md
Due: markdown

Updating dev tasks
  tasks/_record_utils.py
  tasks/record_clone.py
  tasks/record_dump_admin.py
  tasks/records_permissions.py
  tasks/records_preview.py
Due: ty, ruff, build

Fixing pre-release issues
  docs/setup.md
  docs/usage.md
  pyproject.toml
  resources/scripts/non-interactive-publishing-workflow.py
  src/lantern/utils.py
  tests/lantern_tests/test_utils.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Further rsync prerelease fixes
  docs/setup.md
  src/lantern/exporters/html.py
  src/lantern/utils.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/test_utils.py
Due: pytest, ty, ruff, markdown, build

Reverting not setting source permissions
  src/lantern/exporters/html.py
Due: pytest, ty, ruff, build

Debugging CD
  .gitlab-ci.yml
Due: none

Fixing CD
  .gitlab-ci.yml
Due: none
