Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Improvements
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/config.md
  docs/dev.md
  docs/exporters.md
  docs/site.md
  docs/usage.md
  pyproject.toml
  src/lantern/exporters/base.py
  src/lantern/exporters/html.py
  src/lantern/exporters/site.py
  src/lantern/exporters/verification.py
  src/lantern/exporters/website.py
  src/lantern/models/item/catalogue/__init__.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_views/-/index.html.j2
  src/lantern/resources/templates/_views/-/verification.html.j2
  src/lantern/stores/gitlab.py
  tasks/records_build.py
  tasks/records_workflow.py
  tasks/tailwind.py
  tests/conftest.py
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_delete.yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_fetch_posts[False].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_fetch_posts[True].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_upsert[123].yaml
  tests/lantern_tests/exporters/cassettes/test_website_exporter/TestWordPressClient.test_upsert[None].yaml
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/exporters/test_website_exporter.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lantern_tests/templates/test_catalogue_item.py
  tests/scripts/build_test.py
Due: pytest, ruff, build

Adding resources exporter base class
  CHANGELOG.md
  docs/exporters.md
  src/lantern/exporters/base.py
  src/lantern/exporters/site.py
  src/lantern/exporters/verification.py
  src/lantern/exporters/website.py
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/exporters/test_verification_exporter.py
  tests/resources/exporters/fake_exporter.py
Due: pytest, ruff, build

Adding WAF exporter
  CHANGELOG.md
  README.md
  docs/access.md
  docs/architecture.md
  docs/exporters.md
  docs/img/architecture-low.png
  docs/site.md
  pyproject.toml
  src/lantern/exporters/site.py
  src/lantern/exporters/waf.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/exporters/test_waf_exporter.py
  uv.lock
Due: pytest, ruff, safety, build

Small documentation tweaks
  docs/access.md
  docs/exporters.md
  docs/setup.md
  docs/site.md
Due: none

Adding e2e test for back to top link
  CHANGELOG.md
  tests/lantern_tests/e2e/test_site_e2e.py
Due: pytest, ruff, build

Adding support for additional navigation links
  CHANGELOG.md
  docs/site.md
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/e2e/test_site_e2e.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ruff, build

Adding additional HTML meta tags
  CHANGELOG.md
  docs/site.md
  src/lantern/exporters/website.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/layouts/test_base.py
  tests/lantern_tests/templates/layouts/test_page.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ruff, build

Removing code from init files
  src/lantern/exporters/base.py
  src/lantern/exporters/verification.py
  src/lantern/lib/metadata_library/models/record/__init__.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/presets/citation.py
  src/lantern/lib/metadata_library/models/record/presets/distribution.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/item/base/__init__.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/special/physical_map.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/item/website/search.py
  src/lantern/models/record/__init__.py
  src/lantern/models/record/record.py
  src/lantern/models/record/revision.py
  src/lantern/models/verification/elements.py
  src/lantern/stores/gitlab.py
  tasks/records_load.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_verification_exporter.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/models/verification/test_elements.py
  tests/lantern_tests/stores/test_base_store.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lib_tests/metadata_library/models/record/presets/test_conformance.py
  tests/lib_tests/metadata_library/models/record/presets/test_contacts.py
  tests/lib_tests/metadata_library/models/record/presets/test_distribution.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ruff, build

Fixing logging within parallel tasks
  CHANGELOG.md
  src/lantern/exporters/records.py
  src/lantern/exporters/verification.py
  src/lantern/log.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_verification_exporter.py
  tests/lantern_tests/test_log.py
  tests/lantern_tests/test_logging.py
Due: pytest, ruff, build

Updating dev tasks
  tasks/records_workflow.py
  tasks/tailwind.py
Due: ruff, build

Splitting out Zap ⚡️ specific import logic
  CHANGELOG.md
  docs/usage.md
  pyproject.toml
  tasks/records_bootstrap.py
  tasks/records_import.py
  tasks/records_workflow.py
  tasks/records_zap.py
Due: pytest, ruff, build

Fixing typo in contact form
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
Due: none

Minor tidying
  docs/infrastructure.md
  docs/monitoring.md
  docs/site.md
  tasks/__init__.py
  tasks/records_verify.py
Due: ruff, build

Fix linting
  tasks/records_bootstrap.py
  tasks/records_workflow.py
Due: ruff, build

Switching Python build system to UV
  pyproject.toml
Due: pytest, build

Using task runner build in CD
  .gitlab-ci.yml
Due: none

Adding Ansible deployments
  .gitlab-ci.yml
  CHANGELOG.md
  docs/deployment.md
  docs/infrastructure.md
Due: none

Fix markdown linting
  docs/infrastructure.md
Due: none

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
