Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Fixing records workflow sequence
  tasks/records_workflow.py
Due: ruff, build

Removing unused item summary property
  src/lantern/models/item/catalogue/elements.py
Due: pytest, ruff, build

Adding SAN distribution option support.
  docs/config.md
  docs/monitoring.md
  docs/setup.md
  pyproject.toml
  resources/env/.env.tpl
  resources/flows/lantern-san-proxy.zip
  src/lantern/config.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/verification/elements.py
  src/lantern/models/verification/enums.py
  src/lantern/models/verification/types.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tasks/records_verify.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_verification_exporter.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/verification/test_elements.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lantern_tests/test_config.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_verify.py
Due: pytest, ruff, build

Minor improvements
  docs/dev.md
  docs/monitoring.md
  src/lantern/exporters/verification.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/verification/elements.py
  src/lantern/models/verification/enums.py
  tests/lantern_tests/test_config.py
Due: pytest, ruff, build

Fixing vertification report false negative
  src/lantern/exporters/verification.py
Due: pytest, ruff, build

Fixing warning and caution colours
  src/lantern/resources/css/main.css
  src/lantern/resources/css/main.css.j2
Due: none

Improving SAN distribution option support
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_product_restricted.py
Due: pytest, ruff, build

Disabling lineage tab for rcontainer record types
  CHANGELOG.md
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
Due: pytest, ruff, build

Renaming abstract to about in base and catalogue items
  CHANGELOG.md
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/website/search.py
  src/lantern/resources/templates/_macros/item.html.j2
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_item.py
Due: pytest, ruff, build

Expanding typing checks
  pyproject.toml
  resources/env/.env.tpl
  src/lantern/lib/metadata_library/models/record/elements/data_quality.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/item/catalogue/distributions.py
  tasks/_record_utils.py
  tasks/record_clone.py
  tasks/records_bootstrap.py
  tasks/records_build.py
  tasks/records_import.py
  tasks/records_permissions.py
  tasks/records_verify.py
  tasks/records_workflow.py
  tasks/records_zap.py
  tasks/release.py
  tasks/tailwind.py
  tests/resources/records/utils.py
  tests/resources/stores/gitlab_cache/records/a1b2c3.pickle
  uv.lock
Due: pytest, ruff, safety, build

Excluding tasks from CI type checking
  pyproject.toml
Due: pytest, build

Catching up change log
  CHANGELOG.md
Due: none

Correct documentation
  docs/setup.md
  docs/usage.md
  resources/env/.env.tpl
Due: none

Remove redundant validation
  src/lantern/lib/metadata_library/models/record/record.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ruff, build

Including profile version in template output
  src/lantern/models/item/catalogue/tabs.py
Due: pytest, ruff, build

Adding workaround for Zap ⚡️ initiative records
  tasks/_record_utils.py
  tasks/records_zap.py
Due: ruff, build

Improving records workflow
  docs/usage.md
  tasks/records_workflow.py
  tasks/records_zap.py
Due: ruff, build

Upgrading dependencies
  .gitlab-ci.yml
  docs/dev.md
  pyproject.toml
  src/lantern/resources/templates/_views/-/formatting.html.j2
  tests/resources/records/item_cat_formatting.py
  uv.lock
Due: pytest, ruff, safety, build

Fixing new ty findings
  docs/dev.md
  src/lantern/config.py
  src/lantern/exporters/html.py
  src/lantern/exporters/records.py
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/lib/metadata_library/models/record/utils/admin.py
  src/lantern/models/item/base/elements.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/special/physical_map.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/item/website/search.py
  src/lantern/models/site.py
  src/lantern/stores/gitlab.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ruff, build

Adding local GitLab stack
  .gitignore
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  resources/dev/gitlab/docker-compose.yml
  resources/dev/gitlab/main.tf
  src/lantern/shim.py
  src/lantern/stores/gitlab.py
  tasks/cache_init.py
  tasks/records_bootstrap.py
  tests/conftest.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_source.yaml
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/resources/stores/gitlab_cache/head_commit.json
  uv.lock
Due: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
