Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Upgrading dependencies
  .gitlab-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/lantern/exporters/verification.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  src/lantern/stores/gitlab.py
  uv.lock
Due: pytest, ty, ruff, safety, build

Upgrading Plausible script
  CHANGELOG.md
  docs/config.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/config.py
  src/lantern/models/site.py
  src/lantern/resources/templates/_assets/js/enhancements.js.j2
  src/lantern/resources/templates/_macros/assets.js.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, markdown, build

Refactoring templated JavaScript files
  docs/dev.md
  docs/exporters.md
  docs/site.md
  pyproject.toml
  src/lantern/exporters/site.py
  src/lantern/resources/js/enhancements.js
  tasks/js.py
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ty, ruff, markdown, build

Adding Sentry DSN to site metadata
  src/lantern/models/site.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ty, ruff, build

Tidying up
  src/lantern/resources/templates/_macros/site.html.j2
Due: none

Downgrading minimum TLS version for S3 buckets
  resources/envs/main.tf
Due: none

Updating publishing and non-interactive workflow docs
  CHANGELOG.md
  docs/exporters.md
  docs/setup.md
  docs/usage.md
  resources/scripts/non-interactive-publishing-workflow-schema.json
Due: markdown

Refactoring CSP header in IaC
  resources/envs/main.tf
Due: none

Refactoring S3 utils directory upload
  src/lantern/utils.py
  tests/lantern_tests/test_utils.py
Due: pytest, ty, ruff, build

Rename S3 utils single file upload
  src/lantern/exporters/base.py
  src/lantern/exporters/html.py
  src/lantern/exporters/site.py
  src/lantern/exporters/verification.py
  src/lantern/exporters/waf.py
  src/lantern/exporters/website.py
  src/lantern/utils.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/test_utils.py
Due: pytest, ty, ruff, build

Fixing JS site resources publishing
  src/lantern/exporters/site.py
Due: pytest, ty, ruff, build

Fixing test
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, build

Switching to updated S3 buckets
  src/lantern/exporters/html.py
  tasks/records_workflow.py
Due: pytest, ty, ruff, build

Resetting verify dev task
  tasks/records_verify.py
Due: ty, ruff, build

Fix tests
  tests/lantern_tests/exporters/test_html_exporter.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ty, ruff, build

Enabling S3 object versioning on production site
  CHANGELOG.md
  docs/infrastructure.md
  resources/envs/main.tf
Due: markdown

Tidying up
  CHANGELOG.md
  resources/envs/main.tf
Due: none

Supporting additional product hierarchy levels
  CHANGELOG.md
  docs/dev.md
  src/lantern/lib/metadata_library/models/record/enums.py
  src/lantern/models/item/base/enums.py
  src/lantern/models/item/catalogue/enums.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_product_all.py
  tests/resources/records/item_cat_product_map.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/item_cat_product_web_map.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/utils.py
  tests/resources/stores/fake_records_store.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Improving citation generation in MAGIC discovery preset
  src/lantern/lib/metadata_library/models/record/presets/citation.py
  tests/lib_tests/metadata_library/models/record/presets/test_citation.py
Due: pytest, ty, ruff, build

Adding metadata constraints
  CHANGELOG.md
  docs/libraries.md
  src/lantern/lib/metadata_library/models/record/elements/common.py
  src/lantern/lib/metadata_library/models/record/elements/identification.py
  src/lantern/lib/metadata_library/models/record/elements/metadata.py
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/info.html.j2
  tests/conftest.py
  tests/lantern_tests/exporters/test_website_exporter.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/templates/macros/test_item.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_identification.py
  tests/lib_tests/metadata_library/models/record/elements/test_metadata.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/resources/records/item_cat_licence.py
  tests/resources/records/item_cat_product_restricted.py
  tests/resources/records/item_cat_pub_map.py
  tests/resources/records/item_cat_pub_map_diff.py
  tests/resources/records/utils.py
  tests/resources/stores/gitlab_cache/cache.db
Due: pytest, ty, ruff, markdown, build
