Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Minor improvements
  src/lantern/models/item/base/item.py
  tasks/records_select.py
  tasks/records_zap.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/resources/records/item_cat_data.py
Due: pytest, ruff, build

Fixing logic for unknown licence in catalogue items
  src/lantern/models/item/catalogue/tabs.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Tidying up
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/resources/records/item_cat_data.py
Due: pytest, ruff, build

Allowing downloads to use custom labels
  CHANGELOG.md
  docs/site.md
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/templates/macros/test_tabs.py
  tests/resources/records/item_cat_product_all.py
Due: pytest, ruff, build

Adding Cloudflare Turnstile for bot detection
  CHANGELOG.md
  docs/config.md
  docs/infrastructure.md
  docs/setup.md
  docs/site.md
  pyproject.toml
  resources/env/.env.tpl
  src/lantern/config.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/site.py
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/legal/privacy.html.j2
  tasks/tailwind.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/layouts/test_base.py
  tests/lantern_tests/templates/layouts/test_page.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/test_config.py
Due: pytest, ruff, build

Updating architecture diagrams
  docs/architecture.md
  docs/img/architecture-high.png
  docs/img/architecture-narrow.png
  docs/img/architecture-wide.png
Due: none

Adding infrastructure diagram
  docs/img/infrastructure.png
  docs/infrastructure.md
Due: none

Adding hosting information
  CHANGELOG.md
  docs/infrastructure.md
  docs/site.md
Due: none

Minor fixes
  docs/config.md
  docs/data-model.md
  docs/dev.md
  docs/site.md
  docs/supplemental/colour-audit.md
  src/lantern/models/record/record.py
Due: pytest, ruff, build

Fixing tests
  tests/lantern_tests/exporters/cassettes/test_verification_exporter/TestVerificationExporterChecks.test_check_item_download[error-https---invalid-context1-VerificationResult.FAIL].yaml
  tests/lantern_tests/exporters/cassettes/test_verification_exporter/TestVerificationExporterChecks.test_check_item_download[ok-https---valid-context0-VerificationResult.PASS].yaml
  tests/lantern_tests/exporters/test_verification_exporter.py
Due: pytest, ruff, build

Switching item enquiry form to new Power Automate endpoint
  docs/setup.md
  resources/flows/lantern-item-enquires.zip
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  tests/lantern_tests/models/item/catalogue/test_tabs.py
Due: pytest, ruff, build

Template improvements
  CHANGELOG.md
  docs/infrastructure.md
  docs/supplemental/colour-audit.md
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_layouts/base.html.j2
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/-/formatting.html.j2
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
  src/lantern/resources/templates/_views/legal/privacy.html.j2
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Requring catalogue records to use UUID file identifiers
  CHANGELOG.md
  docs/data-model.md
  src/lantern/models/record/record.py
  tests/lantern_tests/models/record/test_record.py
Due: pytest, ruff, build

Fixing ty version mismatch
  .pre-commit-config.yaml
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/site.py
  src/lantern/stores/gitlab.py
Due: pytest, ruff, build

Using proper test domain in publishing workflow
  tasks/records_workflow.py
Due: ruff, build

Updating item download docs
  docs/site.md
Due: none

Tidying up
  tests/conftest.py
  tests/lib_tests/metadata_library/models/record/elements/test_data_quality.py
  tests/resources/records/utils.py
Due: pytest, ruff, build

Improving docs
  docs/config.md
  docs/data-model.md
  docs/libraries.md
Due: none

Adding cross reference preset
  src/lantern/lib/metadata_library/models/record/presets/aggregations.py
  tests/lib_tests/metadata_library/models/record/presets/test_aggregations.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
