Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock

Namespacing item enquires form
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  tests/lantern_tests/e2e/test_item_e2e.py
Due: pytest, ruff, build

Vendoring Sentry frontend lib
  CHANGELOG.md
  docs/config.md
  docs/monitoring.md
  docs/site.md
  src/lantern/config.py
  src/lantern/models/site.py
  src/lantern/resources/js/lib/sentry.min.js
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/test_config.py
Due: pytest, ruff, build

Creating new static sites via IaC
  .gitignore
  CHANGELOG.md
  docs/infrastructure.md
  docs/setup.md
  resources/envs/.terraform.lock.hcl
  resources/envs/main.tf
  tasks/records_workflow.py
Due: ruff, build

Adding IaC resources for workstation module IAM users
  docs/dev.md
  docs/setup.md
  resources/envs/main.tf
Due: none

Importing GitLab resources into Terraform
  CHANGELOG.md
  docs/dev.md
  docs/setup.md
  docs/usage.md
  resources/envs/.terraform.lock.hcl
  resources/envs/main.tf
Due: none

Adding additional GitLab bot user project memberships
  docs/setup.md
  resources/envs/main.tf
Due: none

Managing GitLab personal access tokens with IaC
  .gitignore
  docs/infrastructure.md
  docs/setup.md
  pyproject.toml
  resources/envs/.terraform.lock.hcl
  resources/envs/main.tf
  resources/envs/terraform.tfvars.tpl
Due: pytest, build

Managing AWS IAM access keys with IaC
  docs/setup.md
  resources/envs/main.tf
Due: none

Managing Turnstile under IaC
  CHANGELOG.md
  docs/setup.md
  resources/envs/.terraform.lock.hcl
  resources/envs/main.tf
  resources/envs/terraform.tfvars.tpl
Due: none

Managing Sentry under IaC
  CHANGELOG.md
  docs/infrastructure.md
  docs/monitoring.md
  docs/setup.md
  resources/envs/.terraform.lock.hcl
  resources/envs/main.tf
  resources/envs/terraform.tfvars.tpl
Due: none

Improving docs
  CHANGELOG.md
  docs/dev.md
  docs/infrastructure.md
  docs/setup.md
Due: none

Tidying up IaC config
  resources/envs/main.tf
  resources/envs/terraform.tfvars.tpl
Due: none

Fixing missing S3 content types
  CHANGELOG.md
  src/lantern/exporters/site.py
  src/lantern/utils.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Improve docs
  docs/deployment.md
  docs/setup.md
  docs/site.md
  docs/usage.md
Due: none

Tidying up
  docs/config.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/resources/templates/_macros/site.html.j2
Due: pytest, build

Fix policy change log dates
  src/lantern/resources/templates/_views/legal/cookies.html.j2
  src/lantern/resources/templates/_views/legal/copyright.html.j2
  src/lantern/resources/templates/_views/legal/privacy.html.j2
Due: none

Adding CORS to local server
  pyproject.toml
  tasks/serve.py
Due: pytest, ruff, build

Fixing dev task
  tasks/records_build.py
Due: ruff, build

Temporarily including cloudfront endpoints
  src/lantern/resources/templates/_assets/json/openapi.json.j2
Due: none

Simplifying site feedback
  docs/dev.md
  src/lantern/resources/js/enhancements.js
  src/lantern/resources/js/sentry-preload.js
  src/lantern/resources/templates/_assets/js/enhancements.js.j2
  src/lantern/resources/templates/_assets/js/sentry-preload.js.j2
  src/lantern/resources/templates/_macros/assets.js.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tasks/js.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ruff, build
