Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock

Dev task improvements
  pyproject.toml
  tasks/cache_init.py
  tasks/records_zap.py
Due: pytest, ruff, build

Tidying up
  CHANGELOG.md
  src/lantern/stores/gitlab.py
Due: pytest, ruff, build

Upgrading linters
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Upgrade UV
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Adding Plausible setup documentation
  CHANGELOG.md
  docs/setup.md
Due: none

Switching to SQLite backend for GitLab local cache
  docs/dev.md
  docs/stores.md
  pyproject.toml
  src/lantern/stores/gitlab.py
  tests/conftest.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_current[True-False].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_current[True-True].yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_fetch_latest_records_dedupe.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_head_commit.yaml
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_instance.yaml
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/resources/stores/gitlab_cache/cache.db
  tests/resources/stores/gitlab_cache/commits.json
  tests/resources/stores/gitlab_cache/hashes.json
  tests/resources/stores/gitlab_cache/head_commit.json
  tests/resources/stores/gitlab_cache/record.json
  tests/resources/stores/gitlab_cache/records/a1b2c3.pickle
  tests/resources/stores/gitlab_cache/refresh.py
  uv.lock
Due: pytest, ruff, safety, build

Minor improvements and changes
  docs/dev.md
  pyproject.toml
  src/lantern/shims.py
  src/lantern/stores/gitlab.py
  tasks/cache_init.py
  tasks/config_check.py
  tests/lantern_tests/test_log.py
Due: pytest, ruff, build

Adding utils for initialising commonly used objects
  src/lantern/utils.py
  tasks/_record_utils.py
  tasks/records_build.py
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Promoting store populate method to base class
  src/lantern/stores/base.py
  tests/lantern_tests/stores/test_base_store.py
Due: pytest, ruff, build

Tidying up
  tests/lantern_tests/stores/test_base_store.py
Due: pytest, ruff, build

Coverage test
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Updating documentation
  docs/exporters.md
  docs/stores.md
Due: none

Reorganising exporter utility methods
  CHANGELOG.md
  src/lantern/exporters/base.py
  src/lantern/exporters/html.py
  src/lantern/exporters/site.py
  src/lantern/exporters/verification.py
  src/lantern/utils.py
  tasks/records_workflow.py
  tests/conftest.py
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/test_utils.py
Due: pytest, ruff, build

Improving record clone dev task
  CHANGELOG.md
  tasks/record_clone.py
Due: ruff, build

Correcting config option names in documentation
  CHANGELOG.md
  docs/config.md
Due: none

Refactoring first party JS into standalone files
  CHANGELOG.md
  docs/dev.md
  docs/exporters.md
  docs/site.md
  pyproject.toml
  src/lantern/exporters/site.py
  src/lantern/resources/js/enhancements.js
  src/lantern/resources/js/sentry-preload.js
  src/lantern/resources/templates/_assets/js/enhancements.js.j2
  src/lantern/resources/templates/_assets/js/sentry-preload.js.j2
  src/lantern/resources/templates/_macros/assets.js.j2
  src/lantern/resources/templates/_macros/site.html.j2
  tasks/js.py
  tests/lantern_tests/exporters/test_site_exporter.py
  tests/lantern_tests/templates/macros/test_site.py
Due: pytest, ruff, build

Refactoring site CSS build process
  CHANGELOG.md
  docs/dev.md
  docs/site.md
  pyproject.toml
  src/lantern/exporters/site.py
  src/lantern/resources/templates/_assets/css/main.css.j2
  tasks/css.py
Due: pytest, ruff, build

Refactoring open graph and schema.org sharing previews
  CHANGELOG.md
  docs/data-model.md
  docs/exporters.md
  docs/site.md
  src/lantern/exporters/site.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  src/lantern/resources/templates/_macros/site.html.j2
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/layouts/test_base.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/test_catalogue_item.py
Due: pytest, ruff, build

Minor typo, fixes and improvements
  docs/data-model.md
  docs/dev.md
  docs/exporters.md
  docs/setup.md
  docs/site.md
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/legal/privacy.html.j2
Due: none
