Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ty, ruff, safety, markdown, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ty: any of: **/*.py
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  markdown: any of: README.md, docs/**/*.md
  build: any of: **/*.py, pyproject.toml, uv.lock

Scheduled CI
  .gitlab-ci.yml
  CHANGELOG.md
  docs/dev.md
  docs/setup.md
Due: markdown

Fixes
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  CHANGELOG.md
Due: none

Adding security.md
  CHANGELOG.md
  docs/SECURITY.md
Due: markdown

Adding support for checking trusted content
  CHANGELOG.md
  docs/config.md
  docs/monitoring.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/catalogues/bas.py
  src/lantern/checks.py
  src/lantern/config.py
  src/lantern/models/checks.py
  src/lantern/outputs/checks.py
  tests/conftest.py
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_url_auth.yaml
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/outputs/test_checks.py
  tests/lantern_tests/test_checks.py
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, markdown, build

Fixing UV audit CI rules
  .gitlab-ci.yml
Due: none

Fixing docs
  docs/dev.md
  docs/monitoring.md
Due: markdown

Fixing site checks script
  resources/scripts/site-checks.py
Due: ty, ruff, build

Fixing URL
  src/lantern/outputs/site_health.py
Due: pytest, ty, ruff, build

Improving tests
  src/lantern/models/checks.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/test_config.py
Due: pytest, ty, ruff, build

Adding support for not caching content items
  CHANGELOG.md
  docs/exporters.md
  docs/models.md
  resources/infra/main.tf
  src/lantern/exporters/s3.py
  src/lantern/models/site.py
  tests/lantern_tests/exporters/test_s3_exporter.py
  tests/lantern_tests/models/test_site.py
Due: pytest, ty, ruff, markdown, build

Add support for ‘live’ items
  CHANGELOG.md
  docs/models.md
  docs/site.md
  src/lantern/models/item/algolia/item.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/outputs/item_html.py
  src/lantern/outputs/record_iso.py
  src/lantern/resources/templates/_assets/js/search.js.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/item.html.j2
  src/lantern/utils.py
  tests/lantern_tests/models/item/algolia/test_item_algolia.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/outputs/test_item_html.py
  tests/lantern_tests/outputs/test_record_iso.py
  tests/lantern_tests/templates/macros/test_common.py
  tests/lantern_tests/test_utils.py
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_product_live.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ty, ruff, markdown, build

Fix test
  tests/lantern_tests/models/item/algolia/test_item_algolia.py
Due: pytest, ty, ruff, build

Adding initial Schemathesis support
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  tests_slow/__init__.py
  tests_slow/browser/__init__.py
  tests_slow/browser/test_item.py
  tests_slow/browser/test_search.py
  tests_slow/browser/test_site.py
  tests_slow/conftest.py
  tests_slow/openapi/__init__.py
  tests_slow/openapi/test_openapi.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Adding contrib modules
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/architecture.md
  docs/contrib.md
  docs/dev.md
  docs/monitoring.md
  docs/supplemental/non-interactive-publishing.md
  pyproject.toml
  src/lantern/contrib/__init__.py
  src/lantern/contrib/non-interactive-publishing-workflow-schema.json
  src/lantern/contrib/non_interactive_publishing_workflow.py
  src/lantern/contrib/site_checks.py
  tests/contrib_tests/__init__.py
  tests/contrib_tests/cache_tests/main/cache.db
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_ensure_changeset[created].yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_ensure_changeset[exists].yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_entrypoint.yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_filter_records[created].yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_filter_records[exists].yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_filter_records[updated].yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_run[no-webhook].yaml
  tests/contrib_tests/cassettes/test_site_checks/TestSiteChecks.test_entrypoint.yaml
  tests/contrib_tests/test_non_interactive_publishing_workflow.py
  tests/contrib_tests/test_site_checks.py
  tests/lantern_tests/x_workflows/cassettes/test_non_interactive/TestPublishingWorkflow.test_run.yaml
  tests/lantern_tests/x_workflows/test_non_interactive.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Adding S3 lifecycle rules for live site
  CHANGELOG.md
  resources/infra/main.tf
Due: none

Improvements
  .gitignore
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  SECURITY.md
  docs/architecture.md
  docs/deployment.md
  docs/dev.md
  docs/libraries.md
  docs/site.md
  docs/supplemental/colour-audit.md
  docs/supplemental/icon-audit.md
  docs/supplemental/non-interactive-publishing.md
  docs/usage.md
  pyproject.toml
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/repositories/bas.py
  src/lantern/resources/templates/_assets/js/search.js.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_views/-/checks.html.j2
  src/lantern/resources/templates/_views/guides/roadmap.html.j2
  tasks/records_check.py
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_common.py
Due: pytest, ty, ruff, markdown, build

Upgrading UV, Ruff and TY versions
  .gitlab-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Import Azure app registration
  CHANGELOG.md
  docs/infrastructure.md
  docs/setup.md
  resources/infra/.terraform.lock.hcl
  resources/infra/main.tf
  resources/infra/terraform.tfvars.tpl
Due: markdown

Adding MAGIC Products checks
  CHANGELOG.md
  docs/config.md
  docs/infrastructure.md
  docs/libraries.md
  docs/monitoring.md
  pyproject.toml
  resources/dev/.env.tpl
  src/lantern/catalogues/bas.py
  src/lantern/checks.py
  src/lantern/config.py
  src/lantern/lib/requests/__init__.py
  src/lantern/lib/requests/auth.py
  src/lantern/models/checks.py
  tasks/css.py
  tests/conftest.py
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_product.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_product_error.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_product_not_file.yaml
  tests/lantern_tests/cassettes/test_checks/TestCheckRunner.test_check_magic_product_wrong_size.yaml
  tests/lantern_tests/cassettes/test_checks/TestChecker.test_get_auth_entra.yaml
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/models/test_checks.py
  tests/lantern_tests/outputs/test_checks.py
  tests/lantern_tests/test_checks.py
  tests/lantern_tests/test_config.py
  tests/lib_tests/requests/__init__.py
  tests/lib_tests/requests/test_auth.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Improving service tokens management
  CHANGELOG.md
  docs/deployment.md
  docs/infrastructure.md
  docs/monitoring.md
  docs/usage.md
  resources/dev/.env.tpl
  resources/infra/.terraform.lock.hcl
  resources/infra/main.tf
  src/lantern/catalogues/bas.py
  src/lantern/outputs/site_health.py
  src/lantern/site.py
  tests/lantern_tests/outputs/test_site_health.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Improvements
  docs/deployment.md
  docs/infrastructure.md
  docs/monitoring.md
  docs/setup.md
  pyproject.toml
  resources/infra/main.tf
  src/lantern/checks.py
  tests_slow/openapi/test_openapi.py
Due: pytest, ty, ruff, markdown, build

Documenting Nagios as a monitoring component
  CHANGELOG.md
  docs/img/monitoring-checks.png
  docs/img/monitoring-overview.png
  docs/infrastructure.md
  docs/monitoring.md
  docs/setup.md
Due: markdown

Adding redirects output
  CHANGELOG.md
  docs/outputs.md
  src/lantern/catalogues/bas.py
  src/lantern/catalogues/base.py
  src/lantern/contrib/non_interactive_publishing_workflow.py
  src/lantern/outputs/redirects.py
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  tasks/records_workflow_testing.py
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_entrypoint.yaml
  tests/contrib_tests/cassettes/test_non_interactive_publishing_workflow/TestPublishingWorkflow.test_run[no-webhook].yaml
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  tests/lantern_tests/catalogues/test_base_catalogue.py
  tests/lantern_tests/outputs/test_redirects.py
Due: pytest, ty, ruff, markdown, build

Improving development server
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  tasks/css.py
  tasks/serve.py
  tests/lantern_tests/catalogues/test_base_catalogue.py
  tests/resources/catalogues/fake_catalogue.py
  tests/scripts/build_fake_cat.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Improvements
  CHANGELOG.md
  resources/infra/main.tf
  src/lantern/catalogues/bas.py
  src/lantern/site.py
  tests/conftest.py
  tests/lantern_tests/test_site.py
Due: pytest, ty, ruff, build

Improve item previews in ⚡️ Zap
  CHANGELOG.md
  docs/dev.md
  docs/models.md
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/site.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_assets/css/main.css.j2
  src/lantern/resources/templates/_assets/js/enhancements.js.j2
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
  src/lantern/resources/templates/_macros/assets.js.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/site.html.j2
  src/lantern/resources/templates/_views/item.html.j2
  tasks/css.py
  tasks/records_preview.py
  tests/lantern_tests/models/test_site.py
  tests/lantern_tests/templates/layouts/test_base.py
  tests/lantern_tests/templates/macros/test_site.py
  tests/lantern_tests/templates/views/test_item.py
  tests/resources/catalogues/fake_catalogue.py
Due: pytest, ty, ruff, markdown, build

Improvements
  .gitlab-ci.yml
  README.md
  docs/architecture.md
  docs/config.md
  docs/dev.md
  docs/models.md
  docs/supplemental/colour-audit.md
  docs/supplemental/icon-audit.md
  pyproject.toml
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/models/site.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  src/lantern/resources/templates/_assets/json/openapi.json.j2
  uv.lock
Due: pytest, safety, build

Adding contrib module to export health check in deployments
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  docs/contrib.md
  src/lantern/contrib/health_export.py
  src/lantern/outputs/site_health.py
  tests/conftest.py
  tests/contrib_tests/cassettes/test_health_export/TestHealthExport.test_entrypoint.yaml
  tests/contrib_tests/test_health_export.py
Due: pytest, ty, ruff, markdown, build

Adding deployment site updates contrib module
  CHANGELOG.md
  docs/contrib.md
  docs/deployment.md
  pyproject.toml
  src/lantern/catalogues/bas.py
  src/lantern/contrib/deployment_updates.py
  src/lantern/contrib/health_export.py
  tests/contrib_tests/cache_tests/main/cache.db
  tests/contrib_tests/cassettes/test_deployment_updates/TestHealthExport.test_entrypoint[live].yaml
  tests/contrib_tests/cassettes/test_deployment_updates/TestHealthExport.test_entrypoint[testing].yaml
  tests/contrib_tests/test_deployment_updates.py
  tests/contrib_tests/test_health_export.py
  tests/lantern_tests/catalogues/test_bas_catalogue.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Fix support for minimal ISO records
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/base.py
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/record/record.py
  tasks/_shared.py
  tasks/records_upgrade_2026_04.py
  tests/conftest.py
  tests/lantern_tests/models/record/test_record.py
  tests/lib_tests/metadata_library/models/record/presets/test_base.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ty, ruff, build

Minor improvements
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  docs/dev.md
  resources/dev/.env.tpl
  src/lantern/contrib/deployment_updates.py
  src/lantern/lib/metadata_library/models/record/record.py
  tests/contrib_tests/cassettes/test_deployment_updates/TestHealthExport.test_entrypoint[live].yaml
  tests/contrib_tests/test_deployment_updates.py
  tests/contrib_tests/test_site_checks.py
Due: pytest, ty, ruff, markdown, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Caching Jinja environment setup
  CHANGELOG.md
  src/lantern/utils.py
Due: pytest, ty, ruff, build

Caching properties to improve performance
  CHANGELOG.md
  src/lantern/catalogues/bas.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/special/physical_map.py
  src/lantern/outputs/base.py
  src/lantern/outputs/checks.py
  src/lantern/outputs/item_html.py
  src/lantern/outputs/items_bas_website.py
  src/lantern/outputs/record_iso.py
  src/lantern/outputs/records_waf.py
  src/lantern/outputs/redirects.py
  src/lantern/outputs/site_api.py
  src/lantern/outputs/site_health.py
  src/lantern/outputs/site_index.py
  src/lantern/outputs/site_pages.py
  src/lantern/outputs/site_resources.py
Due: pytest, ty, ruff, build

Various improvements from AI project review
  CHANGELOG.md
  src/lantern/exporters/local.py
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/site.py
  src/lantern/resources/img/item-default-dark.png
  src/lantern/resources/img/item-default-light.png
  src/lantern/site.py
  src/lantern/stores/base.py
  src/lantern/stores/gitlab.py
  src/lantern/stores/gitlab_cache.py
  tests/conftest.py
  tests/contrib_tests/cassettes/test_deployment_updates/TestHealthExport.test_entrypoint[live].yaml
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/outputs/test_site_resources.py
  tests/lantern_tests/stores/test_base_store.py
  tests/lantern_tests/stores/test_gitlab_cache.py
  tests/lantern_tests/stores/test_gitlab_store.py
  tests/lantern_tests/test_site.py
Due: pytest, ty, ruff, build

Documentation and minor code improvements
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/infrastructure.md
  docs/outputs.md
  docs/stores.md
  pyproject.toml
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/record/record.py
  uv.lock
Due: pytest, ty, ruff, safety, markdown, build

Fix incorrect constraint preset
  CHANGELOG.md
  src/lantern/lib/metadata_library/models/record/presets/constraints.py
  tests/lib_tests/metadata_library/models/record/presets/test_constraints.py
Due: pytest, ty, ruff, build

Fixing zap records constraint handling
  CHANGELOG.md
  tasks/records_zap.py
Due: ty, ruff, build
