Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock

Fix CI typo
  .gitlab-ci.yml
Due: none

Adding Ansible deployments
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Adding scheduled site verification via cron
  docs/monitoring.md
Due: none

Refactoring non-code resources
  pyproject.toml
  resources/env/.env.tpl
  resources/flows/lantern-sharepoint-proxy.zip
Due: pytest, build

Updating setup docs
  docs/setup.md
Due: none

Updating docs
  docs/setup.md
  docs/usage.md
  pyproject.toml
Due: pytest, build

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Documenting non-interactive publishing workflow
  CHANGELOG.md
  docs/usage.md
Due: none

Improvements
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  docs/config.md
  docs/deployment.md
  docs/dev.md
  docs/usage.md
  pyproject.toml
  src/lantern/models/record/record.py
Due: pytest, ruff, build

Allowing ItemBase to use Record classes
  CHANGELOG.md
  docs/setup.md
  src/lantern/models/item/base/item.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/website/search.py
  tests/lantern_tests/models/item/base/test_item_base.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/website/test_search.py
Due: pytest, ruff, build

Handle large cache updates
  CHANGELOG.md
  docs/stores.md
  src/lantern/stores/gitlab.py
  tests/lantern_tests/stores/cassettes/test_gitlab_store/TestGitLabLocalCache.test_fetch_latest_records_excessive.yaml
  tests/lantern_tests/stores/test_gitlab_store.py
Due: pytest, ruff, build

Excluding partial updates for non-record exporters
  CHANGELOG.md
  docs/exporters.md
  src/lantern/exporters/site.py
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Dark mode for default item summary image
  .pre-commit-config.yaml
  CHANGELOG.md
  resources/assets/default-thumbnail.pxd
  src/lantern/models/item/catalogue/elements.py
  src/lantern/resources/css/main.css
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/templates/macros/test_common.py
Due: pytest, ruff, build

Contextualising items fragment in item summaries
  CHANGELOG.md
  src/lantern/models/item/catalogue/elements.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Revert fix for partial exports
  CHANGELOG.md
  docs/exporters.md
  src/lantern/exporters/site.py
  tests/lantern_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Adding additional media types
  docs/dev.md
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/verification/elements.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_verify.py
Due: pytest, ruff, build

Adding missing distribution test
  tests/lantern_tests/models/item/catalogue/test_distributions.py
Due: pytest, ruff, build

Improving distribution format tests
  CHANGELOG.md
  tests/lantern_tests/models/item/catalogue/test_distributions.py
Due: pytest, ruff, build

Allowing unknown licences in catalogue items
  CHANGELOG.md
  src/lantern/models/item/catalogue/tabs.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
Due: pytest, ruff, build

Add Mapbox Vector Tiles distribution type
  CHANGELOG.md
  src/lantern/models/item/catalogue/distributions.py
  src/lantern/models/item/catalogue/enums.py
  src/lantern/models/item/catalogue/tabs.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/resources/records/item_cat_data.py
  tests/resources/records/item_cat_verify.py
Due: pytest, ruff, build
