Repository antarctica/lantern: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  before_script:
  - - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
      - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
      - uv --version
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
    - uv --version
  script:
  ...

Upgrading ty
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Linting fixes
  tests/lantern_tests/exporters/test_base_exporter.py
  tests/lantern_tests/models/item/base/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_distributions.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/website/test_search.py
  tests/lantern_tests/models/record/test_record.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lantern_tests/models/verification/test_elements.py
  tests/lib_tests/markdown/test_plaintext.py
  tests/lib_tests/metadata_library/models/record/elements/test_administration.py
  tests/lib_tests/metadata_library/models/record/elements/test_common.py
  tests/lib_tests/metadata_library/models/record/elements/test_distribution.py
  tests/lib_tests/metadata_library/models/record/elements/test_metadata.py
  tests/lib_tests/metadata_library/models/record/presets/test_identifiers.py
  tests/lib_tests/metadata_library/models/record/test_record.py
  tests/lib_tests/metadata_library/models/record/utils/test_admin.py
  tests/lib_tests/metadata_library/models/record/utils/test_clean.py
  tests/lib_tests/metadata_library/models/record/utils/test_kv.py
Due: pytest, ruff, build

Fixing CI
  .gitlab-ci.yml
Due: none

Improving download descriptions
  src/lantern/resources/templates/_macros/_tabs/data.html.j2
  tasks/records_zap.py
  tests/resources/records/item_cat_data.py
Due: pytest, ruff, build

Adding trusted publishing concept for admin tab
  docs/exporters.md
  src/lantern/exporters/html.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/tabs.py
  src/lantern/models/site.py
  tasks/records_build.py
  tasks/tailwind.py
  tests/conftest.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/models/test_site.py
  tests/scripts/build_test.py
Due: pytest, ruff, build

Improving admin tab
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
  src/lantern/resources/templates/_macros/common.html.j2
  src/lantern/resources/templates/_macros/tabs.html.j2
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Fix
  tests/conftest.py
Due: pytest, ruff, build

Fixing record modification error
  src/lantern/lib/metadata_library/models/record/record.py
  src/lantern/models/record/revision.py
  tests/lantern_tests/models/record/test_revision.py
  tests/lib_tests/metadata_library/models/record/test_record.py
Due: pytest, ruff, build

Minor fixes
  docs/exporters.md
  src/lantern/lib/metadata_library/models/record/elements/administration.py
  tests/lantern_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Record dump fixes
  tasks/records_bootstrap.py
  tasks/records_select.py
Due: ruff, build

Updating accessibility statement
  CHANGELOG.md
  src/lantern/resources/templates/_views/legal/accessibility.html.j2
Due: none

Adding dev task for setting access permissions
  pyproject.toml
  tasks/records_permissions.py
Due: pytest, ruff, build

Adding noscript for contact form
  src/lantern/resources/templates/_macros/_tabs/contact.html.j2
Due: none

Fixing docs
  CHANGELOG.md
  docs/data-model.md
Due: none

Requiring admin metadata for catalogue records
  docs/data-model.md
  src/lantern/models/record/record.py
  tests/lantern_tests/models/record/test_record.py
Due: pytest, ruff, build

Validating admin metadata has an ID
  src/lantern/lib/metadata_library/models/record/elements/administration.py
  tests/lib_tests/metadata_library/models/record/elements/test_administration.py
Due: pytest, ruff, build

Fixing item summaries always showing as restricted
  src/lantern/models/item/catalogue/elements.py
  src/lantern/models/item/catalogue/item.py
  src/lantern/models/item/catalogue/special/physical_map.py
  tests/lantern_tests/exporters/test_records_exporter.py
  tests/lantern_tests/models/item/catalogue/test_elements.py
  tests/lantern_tests/models/item/catalogue/test_item_catalogue.py
  tests/lantern_tests/models/item/catalogue/test_tabs.py
  tests/lantern_tests/templates/macros/test_common.py
Due: pytest, ruff, build

Fix coverage regression
  tests/lantern_tests/models/item/base/test_item_base.py
Due: pytest, ruff, build

Adding MAGIC products licence
  CHANGELOG.md
  docs/dev.md
  src/lantern/models/item/catalogue/enums.py
  src/lantern/resources/templates/_macros/_tabs/licence.html.j2
  tests/resources/records/item_cat_collection_all.py
  tests/resources/records/item_cat_licence.py
  tests/resources/stores/fake_records_store.py
Due: pytest, ruff, build

Improving admin metadata templates
  src/lantern/resources/templates/_macros/_tabs/admin.html.j2
Due: none

Path conditions:
  pytest: any of: src/**/*.py, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
